:root {
    /* main colors */
    --color-blue: #0d6dfd;
    --color-gray: #6c757d;
    --color-purple: #7c3aed;
    --color-blue-light: #7db8f0;
    --color-blue-royal: #4169E1;
    --color-green: #10b981;
    --color-yellow: #fbbf24;
    --color-orange: #f97316;
    --color-red: #DC3545;
    --color-light: #F2F1F3;
    --color-dark: #38333c;
    /* alternative themes */
    --color-indigo: #6366f1;
    --color-pink: #ec4899;
    --color-teal: #14b8a6;
    --color-amber: #f59e0b;
    --color-lime: #84cc16;
    --color-emerald: #10b981;
    --color-cyan: #06b6d4;
    --color-rose: #f43f5e;
    /* https://www.colorhexa.com/ - gradients */
    --color-blue-10: #f6faff;
    --color-blue-25: #e3eeff;
    --color-blue-50: #d0e2ff;
    --color-blue-75: #bcd7fe;
    --color-blue-100: #a9cbfe;
    --color-blue-150: #95bffe;
    --color-blue-200: #82b3fe;
    --color-blue-250: #6ea8fe;
    --color-blue-300: #5b9cfe;
    --color-blue-350: #4790fd;
    --color-blue-400: #3484fd;
    --color-blue-450: #2079fd;
    --color-blue-500: var(--color-blue);
    --color-blue-550: #0263f4;
    --color-blue-600: #025be1;
    --color-blue-650: #0253cd;
    --color-blue-700: #024bba;
    --color-blue-750: #0143a7;
    --color-blue-800: #013c93;
    --color-blue-850: #013480;
    --color-blue-900: #012c6c;
    --color-blue-925: #012459;
    --color-blue-950: #011c45;
    --color-blue-975: #001432;
    --color-blue-990: #000c1e;
    --color-gray-10: #f3f4f5;
    --color-gray-25: #e9eaec;
    --color-gray-50: #dee1e3;
    --color-gray-75: #d4d7da;
    --color-gray-100: #c9cdd0;
    --color-gray-150: #bfc3c7;
    --color-gray-200: #b4b9be;
    --color-gray-250: #aab0b5;
    --color-gray-300: #9fa6ac;
    --color-gray-350: #949ca3;
    --color-gray-400: #8a929a;
    --color-gray-450: #7f8991;
    --color-gray-500: var(--color-gray);
    --color-gray-550: #757f88;
    --color-gray-600: #6c757d;
    --color-gray-650: #636b72;
    --color-gray-700: #5a6168;
    --color-gray-750: #51575d;
    --color-gray-800: #484e53;
    --color-gray-850: #3f4448;
    --color-gray-900: #353a3e;
    --color-gray-925: #2c3033;
    --color-gray-950: #232629;
    --color-gray-975: #1a1c1e;
    --color-gray-990: #111314;
    --color-purple-10: #e8dcfc;
    --color-purple-25: #dccafa;
    --color-purple-50: #d0b8f8;
    --color-purple-75: #c4a6f7;
    --color-purple-100: #b894f5;
    --color-purple-150: #ac82f4;
    --color-purple-200: #a070f2;
    --color-purple-250: #945ef0;
    --color-purple-300: #884cef;
    --color-purple-350: #7c3aed;
    --color-purple-400: #7028eb;
    --color-purple-450: #6416ea;
    --color-purple-500: var(--color-purple);
    --color-purple-550: #5c14d8;
    --color-purple-600: #5512c6;
    --color-purple-650: #4d10b4;
    --color-purple-700: #450fa2;
    --color-purple-750: #3e0d90;
    --color-purple-800: #360c7f;
    --color-purple-850: #2e0a6d;
    --color-purple-900: #27085b;
    --color-purple-925: #1f0749;
    --color-purple-950: #170537;
    --color-purple-975: #100325;
    --color-purple-990: #080213;
    --color-blue-light-10: #e7f2fc;
    --color-blue-light-25: #d5e8fa;
    --color-blue-light-50: #c3def8;
    --color-blue-light-75: #b2d5f6;
    --color-blue-light-100: #a0cbf4;
    --color-blue-light-150: #8fc2f2;
    --color-blue-light-200: #7db8f0;
    --color-blue-light-250: #6baeee;
    --color-blue-light-300: #5aa5ec;
    --color-blue-light-350: #489bea;
    --color-blue-light-400: #3792e8;
    --color-blue-light-450: #2588e6;
    --color-blue-light-500: var(--color-blue);
    --color-blue-light-550: #1874cc;
    --color-blue-light-600: #166abb;
    --color-blue-light-650: #1360a9;
    --color-blue-light-700: #115697;
    --color-blue-light-750: #0f4c86;
    --color-blue-light-800: #0d4274;
    --color-blue-light-850: #0b3863;
    --color-blue-light-900: #092e51;
    --color-blue-light-925: #07243f;
    --color-blue-light-950: #051a2e;
    --color-blue-light-975: #03101c;
    --color-blue-light-990: #01060b;
    --color-blue-royal-10: #EAEFFC;
    --color-blue-royal-25: #D9E1F9;
    --color-blue-royal-50: #C9D4F6;
    --color-blue-royal-75: #B8C7F4;
    --color-blue-royal-100: #A7B9F1;
    --color-blue-royal-150: #96ACEE;
    --color-blue-royal-200: #859EEC;
    --color-blue-royal-250: #7491E9;
    --color-blue-royal-300: #6384E6;
    --color-blue-royal-350: #5276E4;
    --color-blue-royal-400: #4169E1;
    --color-blue-royal-450: #305CDE;
    --color-blue-royal-500: var(--color-blue-royal);
    --color-blue-royal-550: #2250D9;
    --color-blue-royal-600: #204AC8;
    --color-blue-royal-650: #1D43B7;
    --color-blue-royal-700: #1A3DA6;
    --color-blue-royal-750: #173795;
    --color-blue-royal-800: #153184;
    --color-blue-royal-850: #122A73;
    --color-blue-royal-900: #0F2462;
    --color-blue-royal-925: #0D1E51;
    --color-blue-royal-950: #0A1840;
    --color-blue-royal-975: #07112F;
    --color-blue-royal-990: #050B1E;
    --color-green-10: #dffcf3;
    --color-green-25: #cdfbec;
    --color-green-50: #bbf9e5;
    --color-green-75: #a9f8de;
    --color-green-100: #97f6d7;
    --color-green-150: #85f4d0;
    --color-green-200: #73f3c9;
    --color-green-250: #61f1c1;
    --color-green-300: #4ff0ba;
    --color-green-350: #3deeb3;
    --color-green-400: #2bedac;
    --color-green-450: #19eba5;
    --color-green-500: var(--color-green);
    --color-green-550: #13dd9a;
    --color-green-600: #12cb8e;
    --color-green-650: #0ea774;
    --color-green-700: #0d9568;
    --color-green-750: #0b835b;
    --color-green-800: #0a714f;
    --color-green-850: #085f42;
    --color-green-900: #074d35;
    --color-green-925: #053b29;
    --color-green-950: #04291c;
    --color-green-975: #021710;
    --color-green-990: #000403;
    --color-yellow-10: #fff7e5;
    --color-yellow-25: #fef2d1;
    --color-yellow-50: #feecbe;
    --color-yellow-75: #fde6ab;
    --color-yellow-100: #fde198;
    --color-yellow-150: #fddb84;
    --color-yellow-200: #fcd671;
    --color-yellow-250: #fcd05e;
    --color-yellow-300: #fcca4b;
    --color-yellow-350: #fbc537;
    --color-yellow-400: #fbbf24;
    --color-yellow-450: #fbb911;
    --color-yellow-500: var(--color-yellow);
    --color-yellow-550: #f3b104;
    --color-yellow-600: #e0a304;
    --color-yellow-650: #cd9504;
    --color-yellow-700: #ba8703;
    --color-yellow-750: #a67903;
    --color-yellow-800: #936b03;
    --color-yellow-850: #805d02;
    --color-yellow-900: #6c4f02;
    --color-yellow-925: #594102;
    --color-yellow-950: #463301;
    --color-yellow-975: #332501;
    --color-yellow-990: #1f1701;
    --color-orange-10: #fef1e8;
    --color-orange-25: #fee6d5;
    --color-orange-50: #fddac2;
    --color-orange-75: #fdcfaf;
    --color-orange-100: #fcc39c;
    --color-orange-150: #fcb889;
    --color-orange-200: #fbac76;
    --color-orange-250: #fba162;
    --color-orange-300: #fa954f;
    --color-orange-350: #fa8a3c;
    --color-orange-400: #f97e29;
    --color-orange-450: #f56806;
    --color-orange-500: var(--color-orange);
    --color-orange-550: #e26006;
    --color-orange-600: #cf5805;
    --color-orange-650: #bc5005;
    --color-orange-700: #a94804;
    --color-orange-750: #954004;
    --color-orange-800: #823703;
    --color-orange-850: #6f2f03;
    --color-orange-900: #5c2702;
    --color-orange-925: #491f02;
    --color-orange-950: #361701;
    --color-orange-975: #230f01;
    --color-orange-990: #100700;
    --color-red-10: #FCEDEE;
    --color-red-25: #F9DCDF;
    --color-red-50: #F6CBD0;
    --color-red-75: #F3BBC0;
    --color-red-100: #F0AAB1;
    --color-red-150: #ED99A1;
    --color-red-200: #EA8992;
    --color-red-250: #E87883;
    --color-red-300: #E56773;
    --color-red-350: #E25664;
    --color-red-400: #DF4654;
    --color-red-450: #DC3545;
    --color-red-500: var(--color-red);
    --color-red-550: #D82537;
    --color-red-600: #C72332;
    --color-red-650: #B7202E;
    --color-red-700: #A61D2A;
    --color-red-750: #951A26;
    --color-red-800: #841721;
    --color-red-850: #74141D;
    --color-red-900: #631119;
    --color-red-925: #520E15;
    --color-red-950: #410B11;
    --color-red-975: #31080C;
    --color-red-990: #200608;
    --color-light-10: #f2f1f3;
    --color-light-25: #e8e6ea;
    --color-light-50: #dedce1;
    --color-light-75: #d5d1d8;
    --color-light-100: #cbc7cf;
    --color-light-150: #c1bcc6;
    --color-light-200: #b7b2bd;
    --color-light-250: #ada7b4;
    --color-light-300: #a49dab;
    --color-light-350: #9a92a2;
    --color-light-400: #908798;
    --color-light-450: #867d8f;
    --color-light-500: var(--color-light);
    --color-light-550: #7c7386;
    --color-light-600: #736a7b;
    --color-light-650: #696171;
    --color-light-700: #5f5866;
    --color-light-750: #554f5c;
    --color-light-800: #4b4551;
    --color-light-850: #413c46;
    --color-light-900: #38333c;
    --color-light-925: #2e2a31;
    --color-light-950: #242127;
    --color-light-975: #1a181c;
    --color-light-990: #100f12;
    --color-dark-10: #aea7b4;
    --color-dark-25: #a49cab;
    --color-dark-50: #9a91a2;
    --color-dark-75: #918799;
    --color-dark-100: #877c90;
    --color-dark-150: #7d7286;
    --color-dark-200: #73697c;
    --color-dark-250: #696071;
    --color-dark-300: #605766;
    --color-dark-350: #564e5c;
    --color-dark-400: #4c4551;
    --color-dark-450: #423c47;
    --color-dark-500: var(--color-dark);
    --color-dark-550: #2e2a31;
    --color-dark-600: #242127;
    --color-dark-650: #1a181c;
    --color-dark-700: #100f12;
    --color-dark-750: #070607;
    --color-dark-800: #060606;
    --color-dark-850: #050505;
    --color-dark-900: #040404;
    --color-dark-925: #030303;
    --color-dark-950: #020202;
    --color-dark-975: #010101;
    --color-dark-990: #000001;
}
