@media (max-width: 24rem) {
    .w-max-mini-auto,
    .w-max-xxs-auto {
        max-width: auto;
    }

    .w-max-mini-5,
    .w-max-xxs-5 {
        max-width: 5%;
    }

    .w-max-mini-8,
    .w-max-xxs-8,
    .w-max-mini-1-12,
    .w-max-xxs-1-12 {
        max-width: 8.333333%;
    }

    .w-max-mini-10,
    .w-max-xxs-10 {
        max-width: 10%;
    }

    .w-max-mini-15,
    .w-max-xxs-15 {
        max-width: 15%;
    }

    .w-max-mini-16,
    .w-max-xxs-16,
    .w-max-mini-1-6,
    .w-max-xxs-1-6,
    .w-max-mini-2-12,
    .w-max-xxs-2-12 {
        max-width: 16.666667%;
    }

    .w-max-mini-20,
    .w-max-xxs-20 {
        max-width: 20%;
    }

    .w-max-mini-25,
    .w-max-xxs-25,
    .w-max-mini-3-12,
    .w-max-xxs-3-12 {
        max-width: 25%;
    }

    .w-max-mini-30,
    .w-max-xxs-30 {
        max-width: 30%;
    }

    .w-max-mini-33,
    .w-max-xxs-33,
    .w-max-mini-1-3,
    .w-max-xxs-1-3,
    .w-max-mini-2-6,
    .w-max-xxs-2-6,
    .w-max-mini-4-12,
    .w-max-xxs-4-12 {
        max-width: 33.333333%;
    }

    .w-max-mini-35,
    .w-max-xxs-35 {
        max-width: 35%;
    }

    .w-max-mini-40,
    .w-max-xxs-40 {
        max-width: 40%;
    }

    .w-max-mini-42,
    .w-max-xxs-42 {
        max-width: 41.666667%;
    }

    .w-max-mini-45,
    .w-max-xxs-45 {
        max-width: 45%;
    }

    .w-max-mini-50,
    .w-max-xxs-50,
    .w-max-mini-6-12,
    .w-max-xxs-6-12,
    .w-max-mini-3-6,
    .w-max-xxs-3-6 {
        max-width: 50%;
    }

    .w-max-mini-55,
    .w-max-xxs-55 {
        max-width: 55%;
    }

    .w-max-mini-58,
    .w-max-xxs-58,
    .w-max-mini-7-12,
    .w-max-xxs-7-12 {
        max-width: 58.333333%;
    }

    .w-max-mini-60,
    .w-max-xxs-60 {
        max-width: 60%;
    }

    .w-max-mini-65,
    .w-max-xxs-65 {
        max-width: 65%;
    }

    .w-max-mini-66,
    .w-max-xxs-66,
    .w-max-mini-2-3,
    .w-max-xxs-2-3,
    .w-max-mini-4-6,
    .w-max-xxs-4-6,
    .w-max-mini-8-12,
    .w-max-xxs-8-12 {
        max-width: 66.666667%;
    }

    .w-max-mini-70,
    .w-max-xxs-70 {
        max-width: 70%;
    }

    .w-max-mini-75,
    .w-max-xxs-75,
    .w-max-mini-9-12,
    .w-max-xxs-9-12 {
        max-width: 75%;
    }

    .w-max-mini-80,
    .w-max-xxs-80 {
        max-width: 80%;
    }

    .w-max-mini-83,
    .w-max-xxs-83,
    .w-max-mini-5-6,
    .w-max-xxs-5-6,
    .w-max-mini-10-12,
    .w-max-xxs-10-12 {
        max-width: 83.333333%;
    }

    .w-max-mini-85,
    .w-max-xxs-85 {
        max-width: 85%;
    }

    .w-max-mini-90,
    .w-max-xxs-90 {
        max-width: 90%;
    }

    .w-max-mini-91,
    .w-max-xxs-91,
    .w-max-mini-11-12,
    .w-max-xxs-11-12 {
        max-width: 91.666667%;
    }

    .w-max-mini-95,
    .w-max-xxs-95 {
        max-width: 95%;
    }

    .w-max-mini-100,
    .w-max-xxs-100,
    .w-max-mini-12-12,
    .w-max-xxs-12-12,
    .w-max-mini-6-6,
    .w-max-xxs-6-6,
    .w-max-mini-3-3,
    .w-max-xxs-3-3,
    .w-max-mini-full,
    .w-max-xxs-full {
        max-width: 100%;
    }
}
