
<div @attributes="AdditionalAttributes" class="@Classes">
    <CascadingValue Value="context" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    private readonly ContainerContext context = new();

    private string Classes => "ya-container"
        .AddClass(Type == LayoutTypes.Flex, "flex flex-wrap grow justify-start")
        .AddClass(Type == LayoutTypes.Grid, Size.ToGridCssClass())
        .AddClass(AdditionalClasses);

    
    protected override void OnParametersSet()
    {
        context.Type = Type;
        context.Sizes = Size;
        context.Height = Height;

        base.OnParametersSet();
    }
}