
div {
    position: absolute;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: var(--b-field-message--padding);
    margin-top: var(--b-field-message--margin-top);
    font-size: var(--b-field-message--font-size);
    border-radius: var(--b-field-message--border-radius);
    color: var(--b-field-error-message--color);
    background-color: var(--b-field-error-message--bg);
    opacity: var(--b-field-error-message--bg-opacity);
}

    div > span {
        display: block;
    }

    div.hidden {
        display: none;
    }