.screen-ultra .h-ultra-auto,
.screen-xxl .h-xxl-auto {
    height: auto;
}

.screen-ultra .vh-ultra-100,
.screen-xxl .vh-xxl-100 {
    height: 100vh;
}

.screen-ultra .vh-ultra-90,
.screen-xxl .vh-xxl-90 {
    height: 90vh;
}

.screen-ultra .vh-ultra-75,
.screen-xxl .vh-xxl-75 {
    height: 75vh;
}

.screen-ultra .vh-ultra-66,
.screen-xxl .vh-xxl-66 {
    height: 66.666666vh;
}

.screen-ultra .vh-ultra-50,
.screen-xxl .vh-xxl-50 {
    height: 50vh;
}

.screen-ultra .vh-ultra-33,
.screen-xxl .vh-xxl-33 {
    height: 33.333333vh;
}

.screen-ultra .vh-ultra-25,
.screen-xxl .vh-xxl-25 {
    height: 25vh;
}

.screen-ultra .h-ultra-0,
.screen-xxl .h-xxl-0 {
    height: var(--size-0);
}

.screen-ultra .h-ultra-1,
.screen-xxl .h-xxl-1 {
    height: var(--size-1);
}

.screen-ultra .h-ultra-2,
.screen-xxl .h-xxl-2 {
    height: var(--size-2);
}

.screen-ultra .h-ultra-3,
.screen-xxl .h-xxl-3 {
    height: var(--size-3);
}

.screen-ultra .h-ultra-4,
.screen-xxl .h-xxl-4 {
    height: var(--size-4);
}

.screen-ultra .h-ultra-5,
.screen-xxl .h-xxl-5 {
    height: var(--size-5);
}

.screen-ultra .h-ultra-6,
.screen-xxl .h-xxl-6 {
    height: var(--size-6);
}

.screen-ultra .h-ultra-7,
.screen-xxl .h-xxl-7 {
    height: var(--size-7);
}

.screen-ultra .h-ultra-8,
.screen-xxl .h-xxl-8 {
    height: var(--size-8);
}

.screen-ultra .h-ultra-9,
.screen-xxl .h-xxl-9 {
    height: var(--size-9);
}

.screen-ultra .h-ultra-10,
.screen-xxl .h-xxl-10 {
    height: var(--size-10);
}

.screen-ultra .h-ultra-11,
.screen-xxl .h-xxl-11 {
    height: var(--size-11);
}

.screen-ultra .h-ultra-12,
.screen-xxl .h-xxl-12 {
    height: var(--size-12);
}

.screen-ultra .h-ultra-13,
.screen-xxl .h-xxl-13 {
    height: var(--size-13);
}

.screen-ultra .h-ultra-14,
.screen-xxl .h-xxl-14 {
    height: var(--size-14);
}

.screen-ultra .h-ultra-15,
.screen-xxl .h-xxl-15 {
    height: var(--size-15);
}

.screen-ultra .h-ultra-16,
.screen-xxl .h-xxl-16 {
    height: var(--size-16);
}

.screen-ultra .h-ultra-17,
.screen-xxl .h-xxl-17 {
    height: var(--size-17);
}

.screen-ultra .h-ultra-18,
.screen-xxl .h-xxl-18 {
    height: var(--size-18);
}

.screen-ultra .h-ultra-19,
.screen-xxl .h-xxl-19 {
    height: var(--size-19);
}

.screen-ultra .h-ultra-20,
.screen-xxl .h-xxl-20 {
    height: var(--size-20);
}

.screen-ultra .h-ultra-21,
.screen-xxl .h-xxl-21 {
    height: var(--size-21);
}

.screen-ultra .h-ultra-22,
.screen-xxl .h-xxl-22 {
    height: var(--size-22);
}

.screen-ultra .h-ultra-23,
.screen-xxl .h-xxl-23 {
    height: var(--size-23);
}

.screen-ultra .h-ultra-24,
.screen-xxl .h-xxl-24 {
    height: var(--size-24);
}

.screen-ultra .h-ultra-25,
.screen-xxl .h-xxl-25 {
    height: var(--size-25);
}

.screen-ultra .h-ultra-26,
.screen-xxl .h-xxl-26 {
    height: var(--size-26);
}

.screen-ultra .h-ultra-27,
.screen-xxl .h-xxl-27 {
    height: var(--size-27);
}

.screen-ultra .h-ultra-28,
.screen-xxl .h-xxl-28 {
    height: var(--size-28);
}

.screen-ultra .h-ultra-29,
.screen-xxl .h-xxl-29 {
    height: var(--size-29);
}

.screen-ultra .h-ultra-30,
.screen-xxl .h-xxl-30 {
    height: var(--size-30);
}

.screen-ultra .h-ultra-31,
.screen-xxl .h-xxl-31 {
    height: var(--size-31);
}

.screen-ultra .h-ultra-32,
.screen-xxl .h-xxl-32 {
    height: var(--size-32);
}
