
.ya-drop-item {
    padding: .25rem .5rem;
    margin: 0;
    white-space: nowrap;
}

li.ya-drop-item {
    list-style: none;
}

    .ya-drop-item:hover {
        background-color: var(--color-light-300);
    }

    .ya-drop-item.active, .ya-drop-item:active {
        background-color: var(--color-primary-500);
        color: var(--color-light-100);
    }
