@using RoyalCode.Razor.Styles
<div @attributes="AdditionalAttributes" class="@Classes">
	@if(Text.IsPresent())
	{
		@Text
	}
	@if (ChildContent.IsNotEmptyFragment())
	{
		@ChildContent
	}
</div>

@code {

	public string Classes => "ya-field-badge"
		.AddClass(GetStyle())
		.AddClass(AdditionalClasses);

	[Parameter]
	public RenderFragment? ChildContent { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public string? Text { get; set; }

	[Parameter]
	public Themes Style { get; set; }

	[Parameter]
	public string? AdditionalClasses { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? AdditionalAttributes { get; set; }


	private string GetStyle()
	{
		return Style switch
		{
			Themes.Primary => "ya-badge-primary",
			Themes.Secondary => "ya-badge-secondary",
			Themes.Tertiary => "ya-badge-tertiary",
			Themes.Success => "ya-badge-success",
			Themes.Danger => "ya-badge-danger",
			Themes.Warning => "ya-badge-warning",
			Themes.Alert => "ya-badge-alert",
			Themes.Info => "ya-badge-info",
			Themes.Highlight => "ya-badge-highlight",
			Themes.Light => "ya-badge-light",
			Themes.Dark => "ya-badge-dark",
			_ => "ya-badge-highlight"
		};
	}
}
