@media (min-width: 160rem) {
    .h-ultra-auto,
    .h-xxl-auto {
        height: auto;
    }

    .vh-ultra-100,
    .vh-xxl-100 {
        height: 100vh;
    }

    .vh-ultra-90,
    .vh-xxl-90 {
        height: 90vh;
    }

    .vh-ultra-75,
    .vh-xxl-75 {
        height: 75vh;
    }

    .vh-ultra-66,
    .vh-xxl-66 {
        height: 66.666666vh;
    }

    .vh-ultra-50,
    .vh-xxl-50 {
        height: 50vh;
    }

    .vh-ultra-33,
    .vh-xxl-33 {
        height: 33.333333vh;
    }

    .vh-ultra-25,
    .vh-xxl-25 {
        height: 25vh;
    }

    .h-ultra-0,
    .h-xxl-0 {
        height: var(--size-0);
    }

    .h-ultra-1,
    .h-xxl-1 {
        height: var(--size-1);
    }

    .h-ultra-2,
    .h-xxl-2 {
        height: var(--size-2);
    }

    .h-ultra-3,
    .h-xxl-3 {
        height: var(--size-3);
    }

    .h-ultra-4,
    .h-xxl-4 {
        height: var(--size-4);
    }

    .h-ultra-5,
    .h-xxl-5 {
        height: var(--size-5);
    }

    .h-ultra-6,
    .h-xxl-6 {
        height: var(--size-6);
    }

    .h-ultra-7,
    .h-xxl-7 {
        height: var(--size-7);
    }

    .h-ultra-8,
    .h-xxl-8 {
        height: var(--size-8);
    }

    .h-ultra-9,
    .h-xxl-9 {
        height: var(--size-9);
    }

    .h-ultra-10,
    .h-xxl-10 {
        height: var(--size-10);
    }

    .h-ultra-11,
    .h-xxl-11 {
        height: var(--size-11);
    }

    .h-ultra-12,
    .h-xxl-12 {
        height: var(--size-12);
    }

    .h-ultra-13,
    .h-xxl-13 {
        height: var(--size-13);
    }

    .h-ultra-14,
    .h-xxl-14 {
        height: var(--size-14);
    }

    .h-ultra-15,
    .h-xxl-15 {
        height: var(--size-15);
    }

    .h-ultra-16,
    .h-xxl-16 {
        height: var(--size-16);
    }

    .h-ultra-17,
    .h-xxl-17 {
        height: var(--size-17);
    }

    .h-ultra-18,
    .h-xxl-18 {
        height: var(--size-18);
    }

    .h-ultra-19,
    .h-xxl-19 {
        height: var(--size-19);
    }

    .h-ultra-20,
    .h-xxl-20 {
        height: var(--size-20);
    }

    .h-ultra-21,
    .h-xxl-21 {
        height: var(--size-21);
    }

    .h-ultra-22,
    .h-xxl-22 {
        height: var(--size-22);
    }

    .h-ultra-23,
    .h-xxl-23 {
        height: var(--size-23);
    }

    .h-ultra-24,
    .h-xxl-24 {
        height: var(--size-24);
    }

    .h-ultra-25,
    .h-xxl-25 {
        height: var(--size-25);
    }

    .h-ultra-26,
    .h-xxl-26 {
        height: var(--size-26);
    }

    .h-ultra-27,
    .h-xxl-27 {
        height: var(--size-27);
    }

    .h-ultra-28,
    .h-xxl-28 {
        height: var(--size-28);
    }

    .h-ultra-29,
    .h-xxl-29 {
        height: var(--size-29);
    }

    .h-ultra-30,
    .h-xxl-30 {
        height: var(--size-30);
    }

    .h-ultra-31,
    .h-xxl-31 {
        height: var(--size-31);
    }

    .h-ultra-32,
    .h-xxl-32 {
        height: var(--size-32);
    }
}