.screen-tablet .h-tablet-auto,
.screen-sm .h-sm-auto {
    height: auto;
}

.screen-tablet .vh-tablet-100,
.screen-sm .vh-sm-100 {
    height: 100vh;
}

.screen-tablet .vh-tablet-90,
.screen-sm .vh-sm-90 {
    height: 90vh;
}

.screen-tablet .vh-tablet-75,
.screen-sm .vh-sm-75 {
    height: 75vh;
}

.screen-tablet .vh-tablet-66,
.screen-sm .vh-sm-66 {
    height: 66.666666vh;
}

.screen-tablet .vh-tablet-50,
.screen-sm .vh-sm-50 {
    height: 50vh;
}

.screen-tablet .vh-tablet-33,
.screen-sm .vh-sm-33 {
    height: 33.333333vh;
}

.screen-tablet .vh-tablet-25,
.screen-sm .vh-sm-25 {
    height: 25vh;
}

.screen-tablet .h-tablet-0,
.screen-sm .h-sm-0 {
    height: var(--size-0);
}

.screen-tablet .h-tablet-1,
.screen-sm .h-sm-1 {
    height: var(--size-1);
}

.screen-tablet .h-tablet-2,
.screen-sm .h-sm-2 {
    height: var(--size-2);
}

.screen-tablet .h-tablet-3,
.screen-sm .h-sm-3 {
    height: var(--size-3);
}

.screen-tablet .h-tablet-4,
.screen-sm .h-sm-4 {
    height: var(--size-4);
}

.screen-tablet .h-tablet-5,
.screen-sm .h-sm-5 {
    height: var(--size-5);
}

.screen-tablet .h-tablet-6,
.screen-sm .h-sm-6 {
    height: var(--size-6);
}

.screen-tablet .h-tablet-7,
.screen-sm .h-sm-7 {
    height: var(--size-7);
}

.screen-tablet .h-tablet-8,
.screen-sm .h-sm-8 {
    height: var(--size-8);
}

.screen-tablet .h-tablet-9,
.screen-sm .h-sm-9 {
    height: var(--size-9);
}

.screen-tablet .h-tablet-10,
.screen-sm .h-sm-10 {
    height: var(--size-10);
}

.screen-tablet .h-tablet-11,
.screen-sm .h-sm-11 {
    height: var(--size-11);
}

.screen-tablet .h-tablet-12,
.screen-sm .h-sm-12 {
    height: var(--size-12);
}

.screen-tablet .h-tablet-13,
.screen-sm .h-sm-13 {
    height: var(--size-13);
}

.screen-tablet .h-tablet-14,
.screen-sm .h-sm-14 {
    height: var(--size-14);
}

.screen-tablet .h-tablet-15,
.screen-sm .h-sm-15 {
    height: var(--size-15);
}

.screen-tablet .h-tablet-16,
.screen-sm .h-sm-16 {
    height: var(--size-16);
}

.screen-tablet .h-tablet-17,
.screen-sm .h-sm-17 {
    height: var(--size-17);
}

.screen-tablet .h-tablet-18,
.screen-sm .h-sm-18 {
    height: var(--size-18);
}

.screen-tablet .h-tablet-19,
.screen-sm .h-sm-19 {
    height: var(--size-19);
}

.screen-tablet .h-tablet-20,
.screen-sm .h-sm-20 {
    height: var(--size-20);
}

.screen-tablet .h-tablet-21,
.screen-sm .h-sm-21 {
    height: var(--size-21);
}

.screen-tablet .h-tablet-22,
.screen-sm .h-sm-22 {
    height: var(--size-22);
}

.screen-tablet .h-tablet-23,
.screen-sm .h-sm-23 {
    height: var(--size-23);
}

.screen-tablet .h-tablet-24,
.screen-sm .h-sm-24 {
    height: var(--size-24);
}

.screen-tablet .h-tablet-25,
.screen-sm .h-sm-25 {
    height: var(--size-25);
}

.screen-tablet .h-tablet-26,
.screen-sm .h-sm-26 {
    height: var(--size-26);
}

.screen-tablet .h-tablet-27,
.screen-sm .h-sm-27 {
    height: var(--size-27);
}

.screen-tablet .h-tablet-28,
.screen-sm .h-sm-28 {
    height: var(--size-28);
}

.screen-tablet .h-tablet-29,
.screen-sm .h-sm-29 {
    height: var(--size-29);
}

.screen-tablet .h-tablet-30,
.screen-sm .h-sm-30 {
    height: var(--size-30);
}

.screen-tablet .h-tablet-31,
.screen-sm .h-sm-31 {
    height: var(--size-31);
}

.screen-tablet .h-tablet-32,
.screen-sm .h-sm-32 {
    height: var(--size-32);
}
