@media (max-width: 48rem) {
    .h-phone-auto,
    .h-xs-auto {
        height: auto;
    }

    .vh-phone-100,
    .vh-xs-100 {
        height: 100vh;
    }

    .vh-phone-90,
    .vh-xs-90 {
        height: 90vh;
    }

    .vh-phone-75,
    .vh-xs-75 {
        height: 75vh;
    }

    .vh-phone-66,
    .vh-xs-66 {
        height: 66.666666vh;
    }

    .vh-phone-50,
    .vh-xs-50 {
        height: 50vh;
    }

    .vh-phone-33,
    .vh-xs-33 {
        height: 33.333333vh;
    }

    .vh-phone-25,
    .vh-xs-25 {
        height: 25vh;
    }

    .h-phone-0,
    .h-xs-0 {
        height: var(--size-0);
    }

    .h-phone-1,
    .h-xs-1 {
        height: var(--size-1);
    }

    .h-phone-2,
    .h-xs-2 {
        height: var(--size-2);
    }

    .h-phone-3,
    .h-xs-3 {
        height: var(--size-3);
    }

    .h-phone-4,
    .h-xs-4 {
        height: var(--size-4);
    }

    .h-phone-5,
    .h-xs-5 {
        height: var(--size-5);
    }

    .h-phone-6,
    .h-xs-6 {
        height: var(--size-6);
    }

    .h-phone-7,
    .h-xs-7 {
        height: var(--size-7);
    }

    .h-phone-8,
    .h-xs-8 {
        height: var(--size-8);
    }

    .h-phone-9,
    .h-xs-9 {
        height: var(--size-9);
    }

    .h-phone-10,
    .h-xs-10 {
        height: var(--size-10);
    }

    .h-phone-11,
    .h-xs-11 {
        height: var(--size-11);
    }

    .h-phone-12,
    .h-xs-12 {
        height: var(--size-12);
    }

    .h-phone-13,
    .h-xs-13 {
        height: var(--size-13);
    }

    .h-phone-14,
    .h-xs-14 {
        height: var(--size-14);
    }

    .h-phone-15,
    .h-xs-15 {
        height: var(--size-15);
    }

    .h-phone-16,
    .h-xs-16 {
        height: var(--size-16);
    }

    .h-phone-17,
    .h-xs-17 {
        height: var(--size-17);
    }

    .h-phone-18,
    .h-xs-18 {
        height: var(--size-18);
    }

    .h-phone-19,
    .h-xs-19 {
        height: var(--size-19);
    }

    .h-phone-20,
    .h-xs-20 {
        height: var(--size-20);
    }

    .h-phone-21,
    .h-xs-21 {
        height: var(--size-21);
    }

    .h-phone-22,
    .h-xs-22 {
        height: var(--size-22);
    }

    .h-phone-23,
    .h-xs-23 {
        height: var(--size-23);
    }

    .h-phone-24,
    .h-xs-24 {
        height: var(--size-24);
    }

    .h-phone-25,
    .h-xs-25 {
        height: var(--size-25);
    }

    .h-phone-26,
    .h-xs-26 {
        height: var(--size-26);
    }

    .h-phone-27,
    .h-xs-27 {
        height: var(--size-27);
    }

    .h-phone-28,
    .h-xs-28 {
        height: var(--size-28);
    }

    .h-phone-29,
    .h-xs-29 {
        height: var(--size-29);
    }

    .h-phone-30,
    .h-xs-30 {
        height: var(--size-30);
    }

    .h-phone-31,
    .h-xs-31 {
        height: var(--size-31);
    }

    .h-phone-32,
    .h-xs-32 {
        height: var(--size-32);
    }
}
