@using RoyalCode.Yasamen.Demos.Wasm.BlazorShow.Components.Contexts;

<div class="dropdown">
    <div class="dropdown-selected">
        <span class="dropdown-value">
            @Value
        </span>
        <div class="dropdown-toggle">
        </div>
    </div>
    <div class="dropdown-menu">
        <div class="dropdown-input-filter">
            
        </div>
        <div class="dropdown-virtual-scroll">
            <ul class="dropdown-list">
                @foreach (var item in items)
                {
                    <li class="dropdown-item">
                        @item
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@typeparam TEnum
@code {

    private ScenePropertyValue propertyValue;
    private IEnumerable<TEnum> items;
    
    private string Value => propertyValue?.ValueString ?? string.Empty;

    [Parameter, EditorRequired]
    public SceneContext Context { get; set; }

    [Parameter, EditorRequired]
    public IShowPropertyDescription Property { get; set; }

    protected override void OnParametersSet()
    {
        propertyValue = Context.GetProperty(Property.Property.Name);
        items = Enum.GetValues(typeof(TEnum)).Cast<TEnum>();
    }
}
