
aside {
    visibility: hidden;
    position: fixed;
    z-index: var(--b-aside-offcanvas--z-index);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
    outline: 0;
    transform: translateX(100%);
    top: var(--b-aside-offcanvas--top);
    right: var(--b-aside-offcanvas--right);
    bottom: var(--b-aside-offcanvas--bottom);
    background-color: var(--b-aside-offcanvas--bg-color);
    transition: var(--b-theme-transition);
}

    aside.offcanvas-overlaying {
        top: 0;
    }

    aside.offcanvas-float {
        top: calc(var(--b-aside-offcanvas--top) + var(--b-aside-offcanvas--float-gap));
        bottom: calc(var(--b-footer--min-height) + var(--b-aside-offcanvas--float-gap));
        right: var(--b-aside-offcanvas--float-gap);
        border-radius: var(--b-border--radius-3);
    }

        aside.offcanvas-float ::deep > * {
            border-radius: var(--b-border--radius-3);
        }

    aside.offcanvas-show {
        transform: none;
        visibility: visible;
        box-shadow: -3px 0 3px 0 #00000020;
    }

        aside.offcanvas-show.offcanvas-float {
            box-shadow: var(--b-shadow-2);
        }

div {
    display: none;
    background-color: black;
    opacity: 0;
    transition: var(--b-theme-transition);
}

    div.offcanvas-modal.offcanvas-show {
        display: block;
        position: fixed;
        top: var(--b-aside-offcanvas--top);
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        opacity: .2;
    }

        div.offcanvas-modal.offcanvas-show.offcanvas-overlaying {
            top: 0;
        }
