div {
    max-width: var(--b-asidebox--max-width);
    padding: var(--b-asidebox--padding);
    height: auto;
    flex: 1 1 auto;
    background-color: var(--b-asidebox--bg-color);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--b-color-light-d7) var(--b-color-light);
}

    div::-webkit-scrollbar {
        width: 6px;
    }

    div::-webkit-scrollbar-thumb {
        background-color: var(--b-color-light-d7);
        border-radius: var(--b-border--radius-3);
    }

    div::-webkit-scrollbar-track {
        background-color: var(--b-color-light);
    }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
    color: var(--b-color-dark);
}

div.xs {
    max-width: var(--b-asidebox--max-width-xs)
}
div.sm {
    max-width: var(--b-asidebox--max-width-sm)
}
div.md {
    max-width: var(--b-asidebox--max-width-md)
}
div.lg {
    max-width: var(--b-asidebox--max-width-lg)
}
div.xl {
    max-width: var(--b-asidebox--max-width-xl)
}