
@page "/Spinners"

<h1>Spinners</h1>

<div>
    <div class="container">
        <WaveSpinner />
    </div>
    <div class="container">
        <BounceSpinner />
    </div>
    <div class="container">
        <RotatePlaneSpinner />
    </div>
    <div class="container">
        <ThreeDotsSpinner />
    </div>
</div>


@code {

}
