
.field {
    min-height: 5.5rem;
}

.form-label {
    margin-bottom: var(--b-field-label--margin-bottom);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--b-field--color);
    background-color: var(--b-field--bg);
    background-clip: padding-box;
    border: var(--b-field--border);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .form-control:focus {
        color: var(--b-field--color);
        background-color: var(--b-field--bg);
        border-color: var(--b-field--border-color--focus);
        outline: 0;
        box-shadow: var(--b-field--box-shadow--focus);
    }