.ya-field-badge {
    @apply font-normal text-sm inline-block align-middle rounded-full px-4;
}

.ya-field-badge-primary {
    @apply bg-primary-100 text-primary-800 border border-primary-200;
}

.ya-field-badge-secondary {
    @apply bg-secondary-100 text-secondary-800 border border-secondary-200;
}

.ya-field-badge-tertiary {
    @apply bg-tertiary-100 text-tertiary-800 border border-tertiary-200;
}

.ya-field-badge-success {
    @apply bg-success-100 text-success-800 border border-success-200;
}

.ya-field-badge-warning {
    @apply bg-warning-100 text-warning-800 border border-warning-200;
}

.ya-field-badge-alert {
    @apply bg-alert-100 text-alert-800 border border-alert-200;
}

.ya-field-badge-danger {
    @apply bg-danger-100 text-danger-800 border border-danger-200;
}

.ya-field-badge-info {
    @apply bg-info-100 text-info-800 border border-info-200;
}

.ya-field-badge-highlight {
    @apply bg-highlight-100 text-highlight-800 border border-highlight-200;
}

.ya-field-badge-light {
    @apply bg-light-100 text-light-800 border border-light-200;
}

.ya-field-badge-dark {
    @apply bg-dark-100 text-dark-800 border border-dark-200;
}

.ya-field-2xs .ya-field-badge {
    @apply text-2xs px-3;
}

.ya-field-xs .ya-field-badge {
    @apply text-2xs px-3.5;
}

.ya-field-sm .ya-field-badge {
    @apply text-xs px-4;
}

.ya-field-md .ya-field-badge {
    @apply text-sm px-4;
}

.ya-field-lg .ya-field-badge {
    @apply text-sm px-4;
}

.ya-field-xl .ya-field-badge {
    @apply text-base px-5;
}

.ya-field-2xl .ya-field-badge {
    @apply text-base px-5;
}