
.ya-field-error-message {
    @apply mt-2 leading-snug text-danger-600;
}

.ya-field-2xs .ya-field-error-message {
    @apply text-xs leading-snug;
}
.ya-field-xs .ya-field-error-message {
    @apply text-sm leading-snug;
}
.ya-field-sm .ya-field-error-message {
    @apply text-sm leading-snug;
}
.ya-field-md .ya-field-error-message {
    @apply text-sm leading-snug;
}
.ya-field-lg .ya-field-error-message {
    @apply text-sm leading-snug;
}
.ya-field-xl .ya-field-error-message {
    @apply text-base leading-snug;
}
.ya-field-2xl .ya-field-error-message {
    @apply text-lg leading-snug;
}