.ya-field-badge {
    @apply font-normal text-sm inline-block align-middle rounded-full px-4;
}

.ya-field-2xs .ya-field-badge {
    @apply text-2xs px-3;
}

.ya-field-xs .ya-field-badge {
    @apply text-2xs px-3.5;
}

.ya-field-sm .ya-field-badge {
    @apply text-xs px-4;
}

.ya-field-md .ya-field-badge {
    @apply text-sm px-4;
}

.ya-field-lg .ya-field-badge {
    @apply text-sm px-4;
}

.ya-field-xl .ya-field-badge {
    @apply text-base px-5;
}

.ya-field-2xl .ya-field-badge {
    @apply text-base px-5;
}