
.ya-field-group {
    @apply w-full;
}

.ya-field-group-invalid {
    /* when invalid, emphasize label */
    @apply [&_.ya-field-group-label]:text-danger-700;
}

.ya-field-group-description {
    @apply flex w-full items-baseline justify-between text-sm;
}
    .ya-field-group-description.\2xs {
        @apply text-2xs;
    }
    .ya-field-group-description.xs {
        @apply text-xs;
    }
    .ya-field-group-description.sm {
        @apply text-sm;
    }
    .ya-field-group-description.lg {
        @apply text-base;
    }
    .ya-field-group-description.xl {
        @apply text-lg;
    }
    .ya-field-group-description.\2xl {
        @apply text-xl;
    }

.ya-field-group-label {
    @apply text-dark-700 text-base;
}

.ya-field-group-footer {
    @apply mt-2 flex w-full justify-end items-start text-sm;
}

    .ya-field-group-footer.\2xs {
        @apply text-2xs;
    }
    .ya-field-group-footer.xs {
        @apply text-xs;
    }
    .ya-field-group-footer.sm {
        @apply text-sm;
    }
    .ya-field-group-footer.lg {
        @apply text-base;
    }
    .ya-field-group-footer.xl {
        @apply text-lg;
    }
    .ya-field-group-footer.\2xl {
        @apply text-xl;
    }

