.ya-input-field {
    @apply block w-full bg-white text-dark-800 text-base border-1 border-light-400 rounded-md transition-all duration-150;
    @apply px-5 py-3.5;
    @apply placeholder:text-secondary-400;
    @apply focus:outline-none focus:border-primary-500 focus:ring-3 focus:ring-primary-300/50;
    @apply disabled:bg-light-100 disabled:text-dark-300 disabled:cursor-not-allowed;
    @apply read-only:bg-light-100 read-only:text-dark-600 read-only:cursor-default;
}

.ya-input-field-invalid {
    @apply border-danger-500 text-danger-700;
    @apply focus:border-danger-600 focus:ring-danger-300/50;
}

.ya-input-field.ya-field-2xs {
    @apply text-2xs px-4 py-2 focus:ring-2;
}
.ya-input-field.ya-field-xs {
    @apply text-xs px-4 py-3 focus:ring-2;
}
.ya-input-field.ya-field-sm {
    @apply text-sm px-5 py-3 focus:ring-3;
}
.ya-input-field.ya-field-lg {
    @apply text-lg px-6 py-4 focus:ring-4;
}
.ya-input-field.ya-field-xl {
    @apply text-xl px-6 py-5 focus:ring-4;
}
.ya-input-field.ya-field-2xl {
    @apply text-2xl px-7 py-5 focus:ring-5;
}

.ya-input-field-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(var(--spacing-3\.5) + var(--spacing-2\.5)) center;
    background-size: calc(var(--spacing-5) + var(--spacing-3\.5)) calc(var(--spacing-5) + var(--spacing-3\.5));
    padding-right: calc(var(--spacing-7) + var(--spacing-5));
}