@inherits YasamenBase

<div @attributes="AdditionalAttributes" class="@Classes">
    @ChildContent
</div>

@code {

    private string Classes => Layouts.Flex.ToCssClass()
        .AddClass(Border)
        .AddClass(MinHeight.ToAbbrCssClass())
        .AddClass(Align.ToCssClass())
        .AddClass(Justify.ToCssClass())
        .AddClass(Style.ToCssClass())
        .AddClass(AdditionalClasses);
}
