.layout-slot {
    position: relative;
    display: flex;
    width: 100%;
}

.layout-container {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-right: calc(var(--b-cols-gutter) / -2);
    margin-left: calc(var(--b-cols-gutter) / -2);
}

    .layout-container .layout-container {
        margin-right: 0;
        margin-left: 0;
    }

    .layout-container ::deep > *:not(.layout-slot) {
        flex-shrink: 0;
        max-width: 100%;
        margin-bottom: var(--b-cols-gutter);
    }

    .layout-container ::deep > *[class*="col-"] {
        display: flex;
        position: relative;
    }

        .layout-container ::deep > *[class*="col-"] > * {
            width: 100%;
            padding-right: calc(var(--b-cols-gutter) / 2);
            padding-left: calc(var(--b-cols-gutter) / 2);
        }
