
.w-auto {
    width: auto;
}

.w-screen {
    width: 100vw;
}

/* 
    Divisions:
    20 parts: pattern w-5, w-10, w-15 ...
    12 parts: pattern w-8, w-16 ... and w-1-12, w-2-12 ...
    6 parts: pattern w-16, w-33 ... and w-1-6, w-2-6 ...
    3 parts: pattern w-33, w-66 ... and w-1-3, w-2-3 ...
*/

/* 1/20 */
.w-5 {
    width: 5%;
}

/* 1/12 */
.w-8 .w-1-12 {
    width: 8.333333%;
}

/* 2/20 */
.w-10 {
    width: 10%;
}

/* 3/20 */
.w-15 {
    width: 15%;
}

/* 1/6 2/12 */
.w-16, .w-1-6, .w-2-12 {
    width: 16.666667%;
}

/* 4/20 */
.w-20 {
    width: 20%;
}

/* 5/20 3/12  */
.w-25, .w-3-12 {
    width: 25%;
}

/* 6/20 */
.w-30 {
    width: 30%;
}

/* 1/3 2/6 4/12 */
.w-33, .w-1-3, .w-2-6, .w-4-12 {
    width: 33.333333%;
}

/* 7/20 */
.w-35 {
    width: 35%;
}

/* 8/20 */
.w-40 {
    width: 40%;
}

/* 5/12 */
.w-42 {
    width: 41.666667%;
}

/* 9/20 */
.w-45 {
    width: 45%;
}

/* 10/20 6/12 3/6 */
.w-50, .w-6-12, .w-3-6 {
    width: 50%;
}

/* 11/20 */
.w-55 {
    width: 55%;
}

/* 7/12 */
.w-58, .w-7-12 {
    width: 58.333333%;
}

/* 12/20 */
.w-60 {
    width: 60%;
}

/* 13/20 */
.w-65 {
    width: 65%;
}

/* 2/3 4/6 8/12 */
.w-66, .w-2-3, .w-4-6, .w-8-12 {
    width: 66.666667%;
}

/* 14/20 */
.w-70 {
    width: 70%;
}

/* 15/20 9/12 */
.w-75, .w-9-12 {
    width: 75%;
}

/* 16/20 */
.w-80 {
    width: 80%;
}

/* 5/6 10/12 */
.w-83, .w-5-6, .w-10-12 {
    width: 83.333333%;
}

/* 17/20 */
.w-85 {
    width: 85%;
}

/* 18/20 */
.w-90 {
    width: 90%;
}

/* 11/12 */
.w-91, .w-11-12 {
    width: 91.666667%;
}

/* 19/20 */
.w-95 {
    width: 95%;
}

/* 20/20 12/12 6/6 3/3 */
.w-100, .w-12-12, .w-6-6, .w-3-3, .w-full {
    width: 100%;
}
