@inherits LayoutComponentBase

<AppLayout>
    <TopStart>
        <AppBrand></AppBrand>
    </TopStart>
    <Menu>
        <AppNavItem Label="Home" />
        <AppNavItem Label="Counter" HRef="counter" />
        <AppNavItem Label="Fetch Data" HRef="fetchdata" />
        <AppNavItem Label="Containers" HRef="containers" />
        <AppNavItem Label="Spinners" HRef="spinners" />
        <AppNavItem Label="App Layout" HRef="AppLayout" />
    </Menu>
    <Main>
        @Body
    </Main>
    <Footer>
        <Boxe></Boxe>
    </Footer>
</AppLayout>
