@inherits LayoutComponentBase

<AppLayout>
    <TopStart>
        <AppBrand></AppBrand>
        <AppMenuButton>
            <Icon Kind="BsIconNames.List" />
        </AppMenuButton>
    </TopStart>
    <Menu>
        <AppNavMenu>
            <AppNavItem Label="Home"/>
            <AppNavItem Label="Counter" HRef="counter"/>
            <AppNavItem Label="Fetch Data" HRef="fetchdata"/>
            <AppNavItem Label="Blazor Show" HRef="show" />
            <AppNavItem Label="Containers" HRef="containers"/>
            <AppNavItem Label="Spinners" HRef="spinners"/>
            <AppNavItem Label="App Layout" HRef="applayout"/>
            <AppNavItem Label="Off Cavas" HRef="offcanvas"/>
            <AppNavItem Label="Form" HRef="form" />
        </AppNavMenu>
    </Menu>
    <Main>
        @Body
    </Main>
    <Footer>
        <Bar>
            <Start>
                Hello
            </Start>
            <End>
                Footer
            </End>
        </Bar>
    </Footer>
</AppLayout>