@inherits LayoutComponentBase

<AppLayout>
    <TopStart>
        <AppBrand></AppBrand>
    </TopStart>
    <Menu>
        
    </Menu>
    <Main>
        <div class="sidebar">
            <NavMenu/>
        </div>
        @Body
    </Main>
    <Footer>
        <Boxe></Boxe>
    </Footer>
</AppLayout>
