@inherits LayoutComponentBase

<AppLayout>
    <Main>
        <div class="sidebar">
            <NavMenu />
        </div>
        @Body
    </Main>
    <Footer>
        <div style="border: 1px solid #e397bb; background-color: #dfbcd4; min-height: 36px; width: 100%;"></div>
    </Footer>
</AppLayout>
