@inject OffCanvasService Service

<div class="@Classes"
	 id="@ElementId"
	 tabindex="-1"
	 @onclick="backdropClickHandler"
	 @ontransitionEnded="transitionEndHandler"></div>

@code {

	private const string ElementId = "ya-modal-backdrop";

	private string Classes => "ya-modal-backdrop"
		.AddClass(PhaseClasses)
		.AddClass(phase.Phase != TransitionPhases.Closed, "ya-modal-visible");

	private TransitionState phase;
	private TransitionPhases lastPhase = TransitionPhases.Closed;

	private readonly Func<MouseEventArgs, Task> backdropClickHandler;
	private readonly Func<TransitionEndedEventArgs, Task> transitionEndHandler;

	public OffCanvasBackdrop()
	{
		phase = new TransitionState(() => InvokeAsync(StateHasChanged));
		backdropClickHandler = BackdropClickHandler;
		transitionEndHandler = TransitionEndHandler;
	}

	private Task BackdropClickHandler(MouseEventArgs args) => Service.BackdropActionAsync();

	private Task TransitionEndHandler(TransitionEndedEventArgs args)
	{
		if (args.ElementId != ElementId || args.PropertyName != "opacity")
			return Task.CompletedTask;

		return phase.CompleteAsync();
	}

	protected override void OnInitialized()
	{
		Service.BackdropState = phase;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (lastPhase != phase.Phase)
		{
			lastPhase = phase.Phase;
			if (phase.Phase == TransitionPhases.Open)
				await Service.BackdropOpenedAsync();
			else if (phase.Phase == TransitionPhases.Closed)
				await Service.BackdropClosedAsync();
		}
		if (phase.Phase is TransitionPhases.OpeningStart or TransitionPhases.ClosingStart)
		{
			await phase.PromoteAsync();
		}
	}

	private string PhaseClasses => phase.Phase switch
	{
		TransitionPhases.OpeningStart => "ya-modal-backdrop-opening-start",
		TransitionPhases.Opening => "ya-modal-backdrop-opening",
		TransitionPhases.Open => "ya-modal-backdrop-open",
		TransitionPhases.ClosingStart => "ya-modal-backdrop-closing-start",
		TransitionPhases.Closing => "ya-modal-backdrop-closing",
		TransitionPhases.Closed => "ya-modal-backdrop-closed",
		_ => string.Empty
	};
}
