
.scene-property {
    display: flex;
    margin-bottom: .5rem;
}

.scene-property-name {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.scene-property-value {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
}

@media (min-width: 1200px) {
    
    .scene-property-value {
        width: 60%;
    }
    .scene-property-name {
        width: 25%;
    }
}