
<div class="scene-property">
    <div class="scene-property-name" title="@Property.Description">
        @Name
    </div>
    <div class="scene-property-value">
        <PropertyValueRender Property="Property" />
    </div>
</div>

@code {

    private string? Name => Property.IsFragment ? "Fragment" : Property.Name;
    
    [Parameter, EditorRequired]
    public IScenePropertyDescription Property { get; set; }
}
