@using RoyalCode.Yasamen.Demos.Wasm.BlazorShow.Components.Contexts;
@using System.Diagnostics.CodeAnalysis;

<CascadingValue Value="context">
    <div class="scene-show">
        <h3>@Scene.Show.Name - @Scene.Name</h3>
        <div class="scene-component @AlignClass">
            @if (Scene.RenderKind == ShowRenderKind.Direct)
            {
                <SceneRender />
            }
            else
            {
                <SceneFrame />
            }
        </div>
        <div class="scene-properties">
            
            The properties of the component.

            @foreach (var property in Scene.SceneProperties.Where(p => !p.IsHidden && !p.IsFragment && !p.IsEvent))
            {
                <SceneProperty Property="property" Context="context" @key=@property.Name />
            }
            
            <SceneFragmentProperties Properties="Scene.SceneProperties.Where(p => p.IsFragment)" />

            <SceneEventsProperties Properties="Scene.SceneProperties.Where(p => p.IsEvent)" />
                
        </div>
    </div>
</CascadingValue>

@code {
    private SceneContext? context;

    private string AlignClass => (Scene?.Align ?? Align.Center).ToTextCssClass();

    [Parameter, EditorRequired]
    public IScene Scene { get; set; }

    [MemberNotNull(nameof(context), nameof(Scene))]
    protected override void OnParametersSet()
    {
        context = new SceneContext(Scene);
        Tracer.Write("SceneShow", "OnParametersSet", $"Scene: {Scene.Show.Name} - {Scene.Name}");
    }
}
