
<div @attributes="@AdditionalAttributes" class="@Classes">
	@if (Start.IsNotEmptyFragment())
	{
		<div class="d-flex justify-content-start">
			@Start
		</div>
	}
	@if (Middle.IsNotEmptyFragment())
	{
		<div class="d-flex justify-content-center">
			@Middle
		</div>
	}
	@if (End.IsNotEmptyFragment())
	{
		<div class="d-flex justify-content-end">
			@End
		</div>
	}
</div>

@code {
	private string Classes => "ya-bar flex justify-between items-center w-full"
		.AddClass(AdditionalClasses);

	[Parameter]
	public RenderFragment Start { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public RenderFragment Middle { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public RenderFragment End { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public string? AdditionalClasses { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public IDictionary<string, object>? AdditionalAttributes { get; set; }
}