
<div @attributes="AdditionalAttributes" class="@Classes">
    @ChildContent
</div>


@code {

    private string Classes => "ya-column"
        .AddClass(type == LayoutTypes.Grid, "xs:col-span-1")
        .AddGridColClass(type == LayoutTypes.Grid, size, Span, TabletSpan, LaptopSpan, DesktopSpan)
        .AddClass(type == LayoutTypes.Flex, "flex-initial px-4")
        .AddClass(type == LayoutTypes.Flex && Span > 0, size.ToFlexColClass(Span, TabletSpan, LaptopSpan, DesktopSpan))
        .AddClass(height.ToHeightCssClass())
        .AddClass(AdditionalClasses);
}
