@using System.Threading.Tasks
@inherits LayoutComponentBase

<AppLayout>
    <TopStart>
        Start
    </TopStart>
    <TopCenter>
        Center
    </TopCenter>
    <TopEnd>
        End
    </TopEnd>
    <LeftMenu>
        <div class="my-2 flex justify-center">
            <IconButton title="Open Menu" IconFragment="@WellKnownIcons.Menu" OnClick="ToggleMenu" />
        </div>
        <div class="my-2 flex justify-center">
            @WellKnownIcons.Menu()
        </div>
        <OffCanvas Handler="offCanvasHandler" UseBox="true" Closeable="true" Position="Positions.Start">
            Off Canvas Menu Content
        </OffCanvas>
    </LeftMenu>
    <Main>
        @Body
    </Main>
    <Footer>
        Footer
    </Footer>
</AppLayout>

@code {

    private readonly OffCanvasHandler offCanvasHandler = new();

    private async Task ToggleMenu()
    {
        await offCanvasHandler.Toggle();
    }
}
