@inherits LayoutComponentBase

<AppLayout>
    <TopStart>
        Start
    </TopStart>
    <TopCenter>
        Center
    </TopCenter>
    <TopEnd>
        End
    </TopEnd>
    <Main>
        @Body
    </Main>
    <Footer>
        Footer
    </Footer>
</AppLayout>

@code {

}
