@layer base {
    :root {
        /* Font */
        --font-color: var(--text-dark, #38333c);
        --font-bg: var(--color-light, #F2F1F3);
        /* body */
        --body--margin: var(--spacing-0);
        --body--font-family: var(--font-sans);
        --body--font-size: var(--text-base);
        --body--font-weight: var(--font-normal);
        --body--line-height: var(--leading-base);
        --body--color: var(--color-dark);
        --body--bg: var(--color-light);
        --body--modal--padding-right: 15px;
        /* box */
        --box-sizing: border-box;
        /* hr */
        --hr--margin: var(--spacing-8) 0;
        --hr--color: inherit;
        --hr--border: 0;
        --hr--border-top: var(--spacing-1) solid;
        --hr--opacity: 0.25;
        /* headings */
        --h--margin-top: 0;
        --h--margin-bottom: var(--spacing-4);
        --h--font-weight: var(--font-medium);
        --h--line-height: var(--leading-sm);
        --h--font-size--base: var(--text-base);
        --h1--font-size--add: 1.35vw;
        --h2--font-size--add: 1vw;
        --h3--font-size--add: 0.65vw;
        --h4--font-size--add: 0.4vw;
        --h5--font-size--add: 0.2vw;
        --h6--font-size--add: 0vw;
        /* paragraphs */
        --p--margin-top: 0;
        --p--margin-bottom: var(--spacing-8);
        --p--font-size: var(--font-base);
        --p--font-weight: var(--font-normal);
        --p--line-height: var(--leading-base);
        --p--color: var(--font-color);
        --p--bg: var(--font-bg);
        /* address */
        --address--margin-top: 0;
        --address--margin-right: 0;
        --address--margin-bottom: var(--spacing-8);
        --address--margin-left: 0;
        --label--font-size: var(--font-base);
        --label--font-weight: var(--font-normal);
        --label--line-height: var(--leading-base);
        --label--color: var(--font-color);
        --label--bg: var(--font-bg);
        /* labels */
        --label--display: inline-block;
        --label--margin-top: 0;
        --label--margin-bottom: var(--spacing-3);
        --label--margin-left: var(--spacing-2);
        --label--margin-right: var(--spacing-2);
        --label--font-size: var(--font-base);
        --label--font-weight: var(--font-medium);
        --label--line-height: var(--leading-1);
        --label--color: var(--font-color);
        --label--bg: var(--font-bg);
        /* caption */
        --caption--margin-top: 0;
        --caption--margin-bottom: var(--spacing-6);
        --caption--font-size: var(--font-lg);
        --caption--font-weight: var(--font-medium);
        --caption--line-height: var(--leading-base);
        --caption--color: var(--font-color);
        --caption--bg: var(--font-bg);
        /* list */
        --list--margin-top: 0;
        --list--margin-right: 0;
        --list--margin-bottom: var(--spacing-4);
        --list--margin-left: 0;
        --list--padding-top: 0;
        --list--padding-right: 0;
        --list--padding-bottom: 0;
        --list--padding-left: var(--spacing-6);
        --list--child--margin-top: 0;
        --list--child--margin-right: 0;
        --list--child--margin-bottom: 0;
        --list--child--margin-left: 0;
        --list--child--padding-top: 0;
        --list--child--padding-right: 0;
        --list--child--padding-bottom: 0;
        --list--child--padding-left: var(--spacing-6);
        /* description  */
        --dl--margin-top: var(--list--margin-top);
        --dl--margin-right: var(--list--margin-right);
        --dl--margin-bottom: var(--list--margin-bottom);
        --dl--margin-left: var(--list--margin-left);
        --dl--padding-top: var(--list--padding-top:);
        --dl--padding-right: var(--list--padding-right);
        --dl--padding-bottom: var(--list--padding-bottom);
        --dl--padding-left: var(--list--padding-left);
        --dt--margin: 0;
        --dt--padding: 0;
        --dt--font-size: var(--font-base);
        --dt--font-weight: var(--font-bold);
        --dt--line-height: var(--leading-base);
        --dt--color: var(--font-color);
        --dt--bg: var(--font-bg);
        --dd--margin: 0 0 var(--spacing-4) 0;
        --dd--padding: 0;
        --dd--font-size: var(--font-base);
        --dd--font-weight: var(--font-normal);
        --dd--line-height: var(--leading-base);
        --dd--color: var(--font-color);
        --dd--bg: var(--font-bg);
        /* general 1 (blockquote mark sub sup) */
        --blockquote--margin: 0 0 var(--spacing-7);
        --mark--padding: var(--size-3);
        --mark--color: var(--color-highlight-100);
        --mark--bg: var(--color-highlight);
        --sub--bottom: var(--spacing-2);
        --sup--top: var(--spacing-4);
        /* legend */
        --legend--margin-top: 0;
        --legend--margin-right: 0;
        --legend--margin-bottom: var(--spacing-4);
        --legend--margin-left: 0;
        --legend--padding: 0;
        --legend--font-size: calc(var(--h--font-size--base) + var(--h5--font-size--add));
        --legend--line-height: inherit;
        --legend--color: var(--font-color);
        --legend--bg: var(--font-bg);
        /* fieldset */
        --fieldset--padding: 0;
        --fieldset--margin: 0;
        --fieldset--border: 0;
    }

    body {
        margin: var(--body--margin);
        font-family: var(--body--font-family);
        font-size: var(--body--font-size);
        font-weight: var(--body--font-weight);
        line-height: var(--body--line-height);
        color: var(--body--color);
        background-color: var(--body--bg);
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }

        body:has(.ya-modal-visible) {
            overflow: hidden;
            padding-right: var(--body--modal--padding-right);
        }

    #root {
        width: 100%;
    }

    *, *::before, *::after {
        box-sizing: var(--box-sizing);
    }

    @media (prefers-reduced-motion: no-preference) {
        :root {
            scroll-behavior: smooth;
        }
    }

    hr {
        margin: var(--hr--margin);
        color: var(--hr--color);
        border: var(--hr--border);
        border-top: var(--hr--border-top);
        opacity: var(--hr--opacity);
    }

    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
        margin-top: var(--h--margin-top);
        margin-bottom: var(--h--margin-bottom);
        font-weight: var(--h--font-weight);
        line-height: var(--h--line-height);
    }

        h6:focus, h5:focus, h4:focus, h3:focus, h2:focus, h1:focus {
            outline: 0;
        }

    h1, .h1 {
        font-size: calc(var(--h--font-size--base) + var(--h1--font-size--add));
    }

    h2, .h2 {
        font-size: calc(var(--h--font-size--base) + var(--h2--font-size--add));
    }

    h3, .h3 {
        font-size: calc(var(--h--font-size--base) + var(--h3--font-size--add));
    }

    h4, .h4 {
        font-size: calc(var(--h--font-size--base) + var(--h4--font-size--add));
    }

    h5, .h5 {
        font-size: calc(var(--h--font-size--base) + var(--h5--font-size--add));
    }

    h6, .h6 {
        font-size: calc(var(--h--font-size--base) + var(--h6--font-size--add));
    }

    p {
        margin-top: var(--p--margin-top);
        margin-bottom: var(--p--margin-bottom);
        font-size: var(--p--font-size);
        font-weight: var(--p--font-weight);
        line-height: var(--p--line-height);
        color: var(--p--color);
        background-color: var(--p--bg);
    }

    abbr[title] {
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
        cursor: help;
        text-decoration-skip-ink: none;
    }

    address, .address {
        margin-top: var(--address--margin-top);
        margin-right: var(--address--margin-right);
        margin-bottom: var(--address--margin-bottom);
        margin-left: var(--address--margin-left);
        font-size: var(--label--font-size);
        font-weight: var(--label--font-weight);
        line-height: var(--label--line-height);
        color: var(--label--color);
        background-color: var(--label--bg);
    }

    label, .label {
        display: var(--label--display);
        margin-top: var(--label--margin-top);
        margin-bottom: var(--label--margin-bottom);
        margin-left: var(--label--margin-left);
        margin-right: var(--label--margin-right);
        font-size: var(--label--font-size);
        font-weight: var(--label--font-weight);
        line-height: var(--label--line-height);
        color: var(--label--color);
        background-color: var(--label--bg);
    }

    caption, .caption {
        margin-top: var(--caption--margin-top);
        margin-bottom: var(--caption--margin-bottom);
        font-size: var(--caption--font-size);
        font-weight: var(--caption--font-weight);
        line-height: var(--caption--line-height);
        color: var(--caption--color);
        background-color: var(--caption--bg);
    }

    blockquote, .blockquote {
        margin: var(--blockquote--margin);
    }

    b, strong, .bold {
        font-weight: var(--font-extra-bold);
    }

    small, .small {
        font-size: var(--font-sm);
    }

    mark, .mark {
        padding: var(--mark--padding);
        color: var(--mark--color);
        background-color: var(--mark--bg);
    }

    sub, .sub
    sup, .sup {
        position: relative;
        font-size: var(--font-xs);
        line-height: 0;
        vertical-align: baseline;
    }

    sub, .sub {
        bottom: calc(var(--sub--bottom) * -1);
    }

    sup, .sup {
        top: calc(var(--sup--top) * -1);
    }

    ul, ol {
        margin-top: var(--list--margin-top);
        margin-right: var(--list--margin-right);
        margin-bottom: var(--list--margin-bottom);
        margin-left: var(--list--margin-left);
        padding-top: var(--list--padding-top);
        padding-right: var(--list--padding-right);
        padding-bottom: var(--list--padding-bottom);
        padding-left: var(--list--padding-left);
    }

        ol ol,
        ul ul,
        ol ul,
        ul ol {
            margin-top: var(--list--child--margin-top);
            margin-right: var(--list--child--margin-right);
            margin-bottom: var(--list--child--margin-bottom);
            margin-left: var(--list--child--margin-left);
            padding-top: var(--list--child--padding-top);
            padding-right: var(--list--child--padding-right);
            padding-bottom: var(--list--child--padding-bottom);
            padding-left: var(--list--child--padding-left);
        }

    dl {
        margin-top: var(--dl--margin-top);
        margin-right: var(--dl--margin-right);
        margin-bottom: var(--dl--margin-bottom);
        margin-left: var(--dl--margin-left);
        padding-top: var(--dl--padding-top);
        padding-right: var(--dl--padding-right);
        padding-bottom: var(--dl--padding-bottom);
        padding-left: var(--dl--padding-left);
    }

    dt {
        margin: var(--dt--margin);
        padding: var(--dt--padding);
        font-size: var(--dt--font-size);
        font-weight: var(--dt--font-weight);
        line-height: var(--dt--line-height);
        color: var(--dt--color);
        background-color: var(--dt--bg);
    }

    dd {
        margin: var(--dd--margin);
        padding: var(--dd--padding);
        font-size: var(--dd--font-size);
        font-weight: var(--dd--font-weight);
        line-height: var(--dd--line-height);
        color: var(--dd--color);
        background-color: var(--dd--bg);
    }

    pre,
    code, .code
    kbd,
    samp {
        font-family: var(--font-mono);
        font-size: var(--font-base);
    }

    pre {
        display: block;
        margin-top: 0;
        margin-bottom: var(--spacing-7);
        overflow: auto;
        font-size: var(--font-sm);
    }

        pre code {
            font-size: inherit;
            color: inherit;
            word-break: normal;
        }

    code, .code {
        font-size: var(--font-sm);
        color: var(--color-dark-700);
        word-wrap: break-word;
    }


    kbd, .kbd {
        padding: var(--spacing-3) var(--spacing-4);
        font-size: var(--font-sm);
        color: var(--font-bg);
        background-color: var(--font-color);
        border-radius: var(--radius-2);
    }

        kbd kbd {
            padding: 0;
            font-size: var(--font-base);
        }

    figure {
        margin: 0 0 var(--spacing-7) 0;
    }

    img,
    svg {
        vertical-align: middle;
    }

    table {
        caption-side: bottom;
        border-collapse: collapse;
    }

    th {
        text-align: inherit;
    }

    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    /* forms */

    button {
        border-radius: 0;
    }

        button:focus:not(:focus-visible) {
            outline: 0;
        }

        input:focus, input:active, input:focus-visible, input:focus-within,
        button:focus, button:active, button:focus-visible, button:focus-within,
        select:focus, select:active, select:focus-visible, select:focus-within,
        textarea:focus, textarea:active, textarea:focus-visible, textarea:focus-within {
            outline: 0;
        }

    button,
    select {
        text-transform: none;
    }

    [role=button] {
        cursor: pointer;
    }

    select {
        word-wrap: normal;
    }

        select:disabled {
            opacity: 1;
        }


    button,
    [type=button],
    [type=reset],
    [type=submit] {
        -webkit-appearance: button;
    }

        button:not(:disabled),
        [type=button]:not(:disabled),
        [type=reset]:not(:disabled),
        [type=submit]:not(:disabled) {
            cursor: pointer;
        }

    ::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }

    textarea {
        resize: vertical;
    }

    fieldset {
        min-width: 0;
        padding: var(--fieldset--padding);
        margin: var(--fieldset--margin);
        border: var(--fieldset--border);
    }

    legend {
        float: left;
        width: 100%;
        padding: var(--legend--padding);
        margin: var(--legend--margin-top) var(--legend--margin-right) var(--legend--margin-bottom) var(--legend--margin-left);
        font-size: var(--legend--font-size);
        line-height: inherit;
        color: var(--legend--color);
        background-color: var(--legend--bg);
    }

        legend + * {
            clear: left;
        }

    ::-webkit-inner-spin-button {
        height: auto;
    }

    ::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    ::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    ::-webkit-file-upload-button {
        font: inherit;
        -webkit-appearance: button;
    }

    ::file-selector-button {
        font: inherit;
        -webkit-appearance: button;
    }

    /* others */

    output {
        display: inline-block;
    }

    iframe {
        border: 0;
    }

    summary {
        display: list-item;
        cursor: pointer;
    }

    progress {
        vertical-align: baseline;
    }

    [hidden], .hidden {
        display: none !important;
    }

    .lead {
        font-size: var(--font-lg);
        font-weight: var(--font-light);
    }

    .blazor-error-boundary {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
        padding: 1rem 1rem 1rem 3.7rem;
        color: white;
    }

        .blazor-error-boundary::after {
            content: "An error has occurred."
        }
}
