@using RoyalCode.Yasamen.Commons;

<li class="@classes(this)" @onclick="ClickHandler" @attributes="Attributes" role="@Role">
    @ChildContent
</li>

@code {

    private static readonly Borders defaultBorder = Borders.DefaultNone;

    private static readonly CssMap<DropItem> classes = Css.Map<DropItem>()
        .Add("drop-item")
        .Add(static d => d.Border.CssClasses)
        .Add(static d => d.AdditionalClasses)
        .Build();

    private string Role => OnClick.HasDelegate ? "button" : "menuitem";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public Borders Border { get; set; } = defaultBorder;

    [Parameter]
    public string? AdditionalClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private Task ClickHandler(MouseEventArgs args) => OnClick.InvokeAsync(args);
}
