@using RoyalCode.Yasamen.Commons;

<li class="@Classes" @onclick="ClickHandler" @attributes="Attributes" role="@Role">
    @ChildContent
</li>

@code {
    private static readonly BorderClasses defaultBorder = Css.Border.None();

    private string Classes => "drop-item".AddClass(Border).AddClass(AdditionalClasses);

    private string Role => OnClick.HasDelegate ? "button" : "menuitem";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public BorderClasses Border { get; set; } = defaultBorder;

    [Parameter]
    public string? AdditionalClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private Task ClickHandler(MouseEventArgs args) => OnClick.InvokeAsync(args);
}
