/* Estilo para os itens de menu */
.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    color: #ecf0f1;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    list-style: none;
}

/* Estilo de um item de menu ao passar o mouse */
.menu-item:hover {
    background-color: #34495e;
}

    .menu-item .menu-item:hover {
        background-color: #425d77;
    }

    .menu-item .menu-item .menu-item:hover {
        background-color: #507190;
    }

    .menu-item .menu-item .menu-item .menu-item:hover {
        background-color: #6085a7;
    }

/* Alinhamento do título do item de menu */
.menu-item-title {
    display: flex;
    align-items: center;
    gap: 2px;
}

.submenu-content {
    overflow: hidden;
}

/* Estilo do submenu */
.submenu {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    max-height: 200vh;
    transition: transform 0.3s ease-out, max-height 0.3s ease-in-out;
    transform: translateY(0); /* Move para a posição original ao abrir */
}

    .submenu.closed {
        transform: translateY(-100%); /* Inicialmente, move a sublista para fora da tela */
        max-height: 0;
    }

.submenu .menu-item {
    padding-left: 0;
}

/* Setas indicativas de submenu */
.submenu-arrow {
    transition: transform 0.3s ease;
    min-width: 12px;
}

.submenu-arrow.open {
    transform: rotate(0deg); /* Setas para abrir para baixo */
}

.submenu-arrow.closed {
    transform: rotate(-90deg); /* Setas para fechar */
}
