.ya-app-layout {
    @apply grid w-full min-h-screen;
}
.ya-app-header {
    @apply fixed top-0 right-0 left-0 z-app-bar;
}
.ya-app-page {
    @apply flex w-full h-full;
}
.ya-app-content {
    @apply grid w-full self-stretch max-sm:mx-0;
}
.ya-app-main { }
.ya-app-footer {
    @apply flex w-full self-end items-center bg-white;
}