.ya-badge {
    @apply font-normal text-sm inline-block align-middle rounded-full px-4;
}

.ya-badge-primary {
    @apply bg-primary-100 text-primary-800 border border-primary-200;
}

.ya-badge-secondary {
    @apply bg-secondary-100 text-secondary-800 border border-secondary-200;
}

.ya-badge-tertiary {
    @apply bg-tertiary-100 text-tertiary-800 border border-tertiary-200;
}

.ya-badge-success {
    @apply bg-success-100 text-success-800 border border-success-200;
}

.ya-badge-warning {
    @apply bg-warning-100 text-warning-800 border border-warning-200;
}

.ya-badge-alert {
    @apply bg-alert-100 text-alert-800 border border-alert-200;
}

.ya-badge-danger {
    @apply bg-danger-100 text-danger-800 border border-danger-200;
}

.ya-badge-info {
    @apply bg-info-100 text-info-800 border border-info-200;
}

.ya-badge-highlight {
    @apply bg-highlight-100 text-highlight-800 border border-highlight-200;
}

.ya-badge-light {
    @apply bg-light-100 text-light-800 border border-light-200;
}

.ya-badge-dark {
    @apply bg-dark-100 text-dark-800 border border-dark-200;
}

.ya-badge-2xs {
    @apply text-2xs px-3;
}

.ya-badge-xs {
    @apply text-xs px-3;
}

.ya-badge-sm {
    @apply text-sm px-3.5;
}

.ya-badge-md {
    @apply text-base px-4;
}

.ya-badge-lg {
    @apply text-lg px-4.5;
}

.ya-badge-xl {
    @apply text-xl px-5;
}

.ya-badge-2xl {
    @apply text-2xl px-5.5;
}