
.ya-menu-item {
    @apply flex items-center w-full text-dark-500 justify-between;
}
.ya-menu-item-link {
    @apply px-6 py-4 cursor-pointer select-none hover:bg-light-300;
}
.ya-menu-item-header {
    @apply px-6 py-4 font-semibold text-dark-700;
}
.ya-menu-item-divider {
    @apply my-2 border-t border-light-700;
}
.ya-menu-item-content {
    @apply px-6 py-4 text-dark-600;
}