
.app-menu {
    @apply bg-white p-4;
}
.app-menu-search {
    @apply mb-4;
}
.app-menu-breadcrumbs {
    @apply mb-4;
}
.app-menu-title {
    @apply text-2xl font-bold mb-2;
}
.app-menu-loading {
    @apply text-center text-gray-500 w-full h-full flex items-center justify-center;
}