.ya-app-menu {
    @apply max-w-full p-6 flex flex-col bg-white w-100;
}
.ya-app-menu-search {
    @apply flex justify-between items-center mb-5 w-full;
}
.ya-app-menu-breadcrumbs {
    @apply mb-4 w-full border-b-1;
}
.ya-app-menu-title {
    @apply text-2xl font-bold mb-2;
}
.ya-app-menu-loading {
    @apply text-center text-gray-500 w-full h-full flex items-center justify-center;
}
.ya-app-menu-error {
    @apply text-center text-gray-500 w-full h-full flex items-center justify-center;
}
.ya-app-menu-empty {
    @apply text-center text-gray-500 w-full h-full flex items-center justify-center;
}