
.ya-menu-item {
    @apply py-4 px-6 flex items-center w-full text-dark-500 justify-between;
}

.ya-menu-item-link {
    @apply cursor-pointer select-none hover:bg-light-50;
}

    .ya-menu-item-link:has(.ya-menu-item-content.active) {
        @apply bg-light-25 hover:bg-light-50;
    }

.ya-menu-item-module {
    @apply font-medium text-dark-700 hover:bg-light-50;
}

.ya-menu-item-divider {
    @apply border-t border-light-700;
}

.ya-menu-item-content {
    @apply text-dark-600;
}

.ya-menu-item-icon {
    @apply cursor-pointer select-none hover:text-primary-500;
}
