span.ripple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);
    visibility: hidden;
    left: 0;
    top: 0;
}

span.ripple.ripple-animation {
    visibility: visible;
    animation: ripple-animation .45s linear;
    /*background-color: #FFF;*/
}

@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}