.screen-ultra .w-max-ultra-auto,
.screen-xxl .w-max-xxl-auto {
    max-width: auto;
}

/* 1/20 */
.screen-ultra .w-max-ultra-5,
.screen-xxl .w-max-xxl-5 {
    max-width: 5%;
}

/* 1/12 */
.screen-ultra .w-max-ultra-8,
.screen-xxl .w-max-xxl-8 {
    max-width: 8.333333%;
}

/* 2/20 */
.screen-ultra .w-max-ultra-10,
.screen-xxl .w-max-xxl-10 {
    max-width: 10%;
}

/* 3/20 */
.screen-ultra .w-max-ultra-15,
.screen-xxl .w-max-xxl-15 {
    max-width: 15%;
}

/* 1/6 2/12 */
.screen-ultra .w-max-ultra-16,
.screen-ultra .w-max-ultra-1-6,
.screen-ultra .w-max-ultra-2-12,
.screen-xxl .w-max-xxl-16,
.screen-xxl .w-max-xxl-1-6,
.screen-xxl .w-max-xxl-2-12 {
    max-width: 16.666667%;
}

/* 4/20 */
.screen-ultra .w-max-ultra-20,
.screen-xxl .w-max-xxl-20 {
    max-width: 20%;
}

/* 5/20 3/12 */
.screen-ultra .w-max-ultra-25,
.screen-ultra .w-max-ultra-3-12,
.screen-xxl .w-max-xxl-25,
.screen-xxl .w-max-xxl-3-12 {
    max-width: 25%;
}

/* 6/20 */
.screen-ultra .w-max-ultra-30,
.screen-xxl .w-max-xxl-30 {
    max-width: 30%;
}

/* 1/3 2/6 4/12 */
.screen-ultra .w-max-ultra-33,
.screen-ultra .w-max-ultra-1-3,
.screen-ultra .w-max-ultra-2-6,
.screen-ultra .w-max-ultra-4-12,
.screen-xxl .w-max-xxl-33,
.screen-xxl .w-max-xxl-1-3,
.screen-xxl .w-max-xxl-2-6,
.screen-xxl .w-max-xxl-4-12 {
    max-width: 33.333333%;
}

/* 7/20 */
.screen-ultra .w-max-ultra-35,
.screen-xxl .w-max-xxl-35 {
    max-width: 35%;
}

/* 8/20 */
.screen-ultra .w-max-ultra-40,
.screen-xxl .w-max-xxl-40 {
    max-width: 40%;
}

/* 5/12 */
.screen-ultra .w-max-ultra-42,
.screen-xxl .w-max-xxl-42 {
    max-width: 41.666667%;
}

/* 9/20 */
.screen-ultra .w-max-ultra-45,
.screen-xxl .w-max-xxl-45 {
    max-width: 45%;
}

/* 10/20 6/12 3/6 */
.screen-ultra .w-max-ultra-50,
.screen-ultra .w-max-ultra-6-12,
.screen-ultra .w-max-ultra-3-6,
.screen-xxl .w-max-xxl-50,
.screen-xxl .w-max-xxl-6-12,
.screen-xxl .w-max-xxl-3-6 {
    max-width: 50%;
}

/* 11/20 */
.screen-ultra .w-max-ultra-55,
.screen-xxl .w-max-xxl-55 {
    max-width: 55%;
}

/* 7/12 */
.screen-ultra .w-max-ultra-58,
.screen-ultra .w-max-ultra-7-12,
.screen-xxl .w-max-xxl-58,
.screen-xxl .w-max-xxl-7-12 {
    max-width: 58.333333%;
}

/* 12/20 */
.screen-ultra .w-max-ultra-60,
.screen-xxl .w-max-xxl-60 {
    max-width: 60%;
}

/* 13/20 */
.screen-ultra .w-max-ultra-65,
.screen-xxl .w-max-xxl-65 {
    max-width: 65%;
}

/* 2/3 4/6 8/12 */
.screen-ultra .w-max-ultra-66,
.screen-ultra .w-max-ultra-2-3,
.screen-ultra .w-max-ultra-4-6,
.screen-ultra .w-max-ultra-8-12,
.screen-xxl .w-max-xxl-66,
.screen-xxl .w-max-xxl-2-3,
.screen-xxl .w-max-xxl-4-6,
.screen-xxl .w-max-xxl-8-12 {
    max-width: 66.666667%;
}

/* 14/20 */
.screen-ultra .w-max-ultra-70,
.screen-xxl .w-max-xxl-70 {
    max-width: 70%;
}

/* 15/20 9/12 */
.screen-ultra .w-max-ultra-75,
.screen-ultra .w-max-ultra-9-12,
.screen-xxl .w-max-xxl-75,
.screen-xxl .w-max-xxl-9-12 {
    max-width: 75%;
}

/* 16/20 */
.screen-ultra .w-max-ultra-80,
.screen-xxl .w-max-xxl-80 {
    max-width: 80%;
}

/* 5/6 10/12 */
.screen-ultra .w-max-ultra-83,
.screen-ultra .w-max-ultra-5-6,
.screen-ultra .w-max-ultra-10-12,
.screen-xxl .w-max-xxl-83,
.screen-xxl .w-max-xxl-5-6,
.screen-xxl .w-max-xxl-10-12 {
    max-width: 83.333333%;
}

/* 17/20 */
.screen-ultra .w-max-ultra-85,
.screen-xxl .w-max-xxl-85 {
    max-width: 85%;
}

/* 18/20 */
.screen-ultra .w-max-ultra-90,
.screen-xxl .w-max-xxl-90 {
    max-width: 90%;
}

/* 11/12 */
.screen-ultra .w-max-ultra-91,
.screen-ultra .w-max-ultra-11-12,
.screen-xxl .w-max-xxl-91,
.screen-xxl .w-max-xxl-11-12 {
    max-width: 91.666667%;
}

/* 19/20 */
.screen-ultra .w-max-ultra-95,
.screen-xxl .w-max-xxl-95 {
    max-width: 95%;
}

/* 20/20 12/12 6/6 3/3 */
.screen-ultra .w-max-ultra-100,
.screen-ultra .w-max-ultra-12-12,
.screen-ultra .w-max-ultra-6-6,
.screen-ultra .w-max-ultra-3-3,
.screen-ultra .w-max-ultra-full,
.screen-xxl .w-max-xxl-100,
.screen-xxl .w-max-xxl-12-12,
.screen-xxl .w-max-xxl-6-6,
.screen-xxl .w-max-xxl-3-3,
.screen-xxl .w-max-xxl-full {
    max-width: 100%;
}
