@using System.Text.Json;
@page "/"

@inject ValidadorFriend Validador

<AppPageContent Title="Model Editor Testes">

    <ModelEditor Model="friend" Context="f" OnValidSubmit="SubmitHandler">

        <TextField Label="Friend name" @bind-Value="f.Name" />

        <TextField Label="E-Mail" @bind-Value="f.EMail" Cols="6">
            <Prepend>
                <FieldButton Icon="BsIconNames.Valentine" />
                <FieldAddon>$</FieldAddon>
            </Prepend>
        </TextField>

        <TextField Label="Phone" @bind-Value="f.Phone" Cols="6">
            <Append>
                <FieldAddon>$</FieldAddon>
                <FieldAddon>
                    <Icon Kind="BsIconNames.Phone" />
                </FieldAddon>
            </Append>
        </TextField>

        <TextField Label="Other Value" @bind-Value="otherValue" Cols="2" />

        <CheckField Label="Is Active" @bind-Value="f.IsActive" Cols="2" TabletCols="3" InlineSize="true" disabled />

        <CheckField Label="Is Active" @bind-Value="f.IsActive" Cols="2" TabletCols="3" ChangeSupport="IsActive1" />

        <CheckField Label="Is Active" @bind-Value="f.IsActive" Reverse="true" Cols="2" TabletCols="3" ChangeSupport="IsActive2" disabled />

        <CheckField Label="Is Active" @bind-Value="f.IsActive" Reverse="true" Cols="2" TabletCols="3" InlineSize="true" ChangeSupport="IsActive3" />

        <SearchButton Label="Search" Cols="2" />

        <IntField Label="Age" @bind-Value="f.Age" Step="1" Cols="3" />

        <DecimalField Label="Weight" @bind-Value="f.Weight" Decimals="2" Step="0.1M" Cols="3">
            <Append>
                <FieldAddon>Kg</FieldAddon>
            </Append>
        </DecimalField>

        <Column>
            <SubmitButton Label="Submit" Cols="2" LgCols="1" />
        </Column>
        <Column>
            <input type="submit" value="Submit" />
            <button type="button" @onclick="ToggleFailure">@FailureOrNot</button>
        </Column>
    </ModelEditor>

    <Container AdditionalClasses="mt-5">
        <Column>
            <h5>Friend Json</h5>
        </Column>
        <Column>
            @friendJson
        </Column>
    </Container>

</AppPageContent>


@code {

    private Friend friend = new();

    private string friendJson = "";

    private string FailureOrNot => Validador.Failure ? "Stop Fail" : "Start Fail";

    private string? otherValue;

    private double? otherValue2;

    private void SubmitHandler()
    {
        friendJson = JsonSerializer.Serialize(friend);
    }

    private void ToggleFailure()
    {
        Validador.Failure = !Validador.Failure;
    }
}