@media (min-width: 68rem) {
    .w-laptop-auto,
    .w-md-auto {
        width: auto;
    }

    .w-laptop-5,
    .w-md-5 {
        width: 5%;
    }

    .w-laptop-8,
    .w-md-8,
    .w-laptop-1-12,
    .w-md-1-12 {
        width: 8.333333%;
    }

    .w-laptop-10,
    .w-md-10 {
        width: 10%;
    }

    .w-laptop-15,
    .w-md-15 {
        width: 15%;
    }

    .w-laptop-16,
    .w-md-16,
    .w-laptop-1-6,
    .w-md-1-6,
    .w-laptop-2-12,
    .w-md-2-12 {
        width: 16.666667%;
    }

    .w-laptop-20,
    .w-md-20 {
        width: 20%;
    }

    .w-laptop-25,
    .w-md-25,
    .w-laptop-3-12,
    .w-md-3-12 {
        width: 25%;
    }

    .w-laptop-30,
    .w-md-30 {
        width: 30%;
    }

    .w-laptop-33,
    .w-md-33,
    .w-laptop-1-3,
    .w-md-1-3,
    .w-laptop-2-6,
    .w-md-2-6,
    .w-laptop-4-12,
    .w-md-4-12 {
        width: 33.333333%;
    }

    .w-laptop-35,
    .w-md-35 {
        width: 35%;
    }

    .w-laptop-40,
    .w-md-40 {
        width: 40%;
    }

    .w-laptop-42,
    .w-md-42 {
        width: 41.666667%;
    }

    .w-laptop-45,
    .w-md-45 {
        width: 45%;
    }

    .w-laptop-50,
    .w-md-50,
    .w-laptop-6-12,
    .w-md-6-12,
    .w-laptop-3-6,
    .w-md-3-6 {
        width: 50%;
    }

    .w-laptop-55,
    .w-md-55 {
        width: 55%;
    }

    .w-laptop-58,
    .w-md-58,
    .w-laptop-7-12,
    .w-md-7-12 {
        width: 58.333333%;
    }

    .w-laptop-60,
    .w-md-60 {
        width: 60%;
    }

    .w-laptop-65,
    .w-md-65 {
        width: 65%;
    }

    .w-laptop-66,
    .w-md-66,
    .w-laptop-2-3,
    .w-md-2-3,
    .w-laptop-4-6,
    .w-md-4-6,
    .w-laptop-8-12,
    .w-md-8-12 {
        width: 66.666667%;
    }

    .w-laptop-70,
    .w-md-70 {
        width: 70%;
    }

    .w-laptop-75,
    .w-md-75,
    .w-laptop-9-12,
    .w-md-9-12 {
        width: 75%;
    }

    .w-laptop-80,
    .w-md-80 {
        width: 80%;
    }

    .w-laptop-83,
    .w-md-83,
    .w-laptop-5-6,
    .w-md-5-6,
    .w-laptop-10-12,
    .w-md-10-12 {
        width: 83.333333%;
    }

    .w-laptop-85,
    .w-md-85 {
        width: 85%;
    }

    .w-laptop-90,
    .w-md-90 {
        width: 90%;
    }

    .w-laptop-91,
    .w-md-91,
    .w-laptop-11-12,
    .w-md-11-12 {
        width: 91.666667%;
    }

    .w-laptop-95,
    .w-md-95 {
        width: 95%;
    }

    .w-laptop-100,
    .w-md-100,
    .w-laptop-12-12,
    .w-md-12-12,
    .w-laptop-6-6,
    .w-md-6-6,
    .w-laptop-3-3,
    .w-md-3-3,
    .w-laptop-full,
    .w-md-full {
        width: 100%;
    }
}
