
<div @attributes="@AdditionalAttributes" class="@classes(this)">
    <div class="d-flex justify-content-start">
        @Start
    </div>
    <div class="d-flex justify-content-center">
        @Middle
    </div>
    <div class="d-flex justify-content-end">
        @End
    </div>
</div>

@code {
    private readonly static CssMap<Bar> classes = Css.Map<Bar>()
        .Add("d-flex justify-content-between w-100")
        .Add(static c => c.AdditionalClasses)
        .Build();

    [Parameter]
    public RenderFragment? Start { get; set; }

    [Parameter]
    public RenderFragment? Middle { get; set; }

    [Parameter]
    public RenderFragment? End { get; set; }

    [Parameter]
    public string? AdditionalClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

}