@inherits YasamenBase

<div @attributes="AdditionalAttributes" class="@Classes">
    @ChildContent
</div>

@code {

    private string Classes => "d-flex"
        .AddClass(Border)
        .AddClass(MinHeight.ToAbbrCssClass())
        .AddClass(Align.ToItemsCssClass())
        .AddClass(Justify.ToContentCssClass())
        .AddClass(Style.ToCssClass())
        .AddClass(AdditionalClasses);
}
