/* tablet */
@media screen and (max-width: 48rem) {
    div {
        --b-cols-resize: 0.666667;
    }
}

/* phone */
@media screen and (max-width: 36rem) {
    div {
        --b-cols-resize: 0.333333;
        --b-cols-resize-tablet: 0.5;
    }
}

/* xxs */
@media screen and (max-width: 24rem) {
    div {
        --b-cols-resize: 0.01;
    }
}

div[col="1"] {
    width: calc(100% / var(--b-cols-columns) / var(--b-cols-resize, 1));
    /* width: 8.333333%; */
}

div[col="2"] {
    width: calc(100% / var(--b-cols-columns) * 2 / var(--b-cols-resize, 1));
    /* width: 16.666667%; */
}

div[col="3"] {
    width: calc(100% / var(--b-cols-columns) * 3 / var(--b-cols-resize, 1));
    /* width: 25%; */
}

div[col="4"] {
    width: calc(100% / var(--b-cols-columns) * 4 / var(--b-cols-resize, 1));
    /* width: 33.333333%; */
}

div[col="5"] {
    width: calc(100% / var(--b-cols-columns) * 5 / var(--b-cols-resize, 1));
    /* width: 41.666667%; */
}

div[col="6"] {
    width: calc(100% / var(--b-cols-columns) * 6 / var(--b-cols-resize, 1));
    /* width: 50%; */
}

div[col="7"] {
    width: calc(100% / var(--b-cols-columns) * 7 / var(--b-cols-resize, 1));
    /* width: 58.333333%; */
}

div[col="8"] {
    width: calc(100% / var(--b-cols-columns) * 8 / var(--b-cols-resize, 1));
    /* width: 66.666667%; */
}

div[col="9"] {
    width: calc(100% / var(--b-cols-columns) * 9 / var(--b-cols-resize, 1));
    /* width: 75%; */
}

div[col="10"] {
    width: calc(100% / var(--b-cols-columns) * 10 / var(--b-cols-resize, 1));
    /* width: 83.333333%; */
}

div[col="11"] {
    width: calc(100% / var(--b-cols-columns) * 11 / var(--b-cols-resize, 1));
    /* width: 91.666667%; */
}

div[col="12"] {
    width: calc(100% / var(--b-cols-columns) * 12 / var(--b-cols-resize, 1));
    /* width: 100%; */
}

/* tablet */
@media screen and (max-width: 48rem) {
    div[tcol="1"] {
        width: calc(100% / var(--b-cols-columns, 8) / var(--b-cols-resize-tablet, 1));
    }

    div[tcol="2"] {
        width: calc(100% / var(--b-cols-columns, 8) * 2 / var(--b-cols-resize-tablet, 1));
    }

    div[tcol="3"] {
        width: calc(100% / var(--b-cols-columns, 8) * 3 / var(--b-cols-resize-tablet, 1));
    }

    div[tcol="4"] {
        width: calc(100% / var(--b-cols-columns, 8) * 4 / var(--b-cols-resize-tablet, 1));
    }

    div[tcol="5"] {
        width: calc(100% / var(--b-cols-columns, 8) * 5 / var(--b-cols-resize-tablet, 1));
    }

    div[tcol="6"] {
        width: calc(100% / var(--b-cols-columns, 8) * 6 / var(--b-cols-resize-tablet, 1));
    }

    div[tcol="7"] {
        width: calc(100% / var(--b-cols-columns, 8) * 7 / var(--b-cols-resize-tablet, 1));
    }

    div[tcol="8"] {
        width: calc(100% / var(--b-cols-columns, 8) * 8 / var(--b-cols-resize-tablet, 1));
    }
}

/* phone */
@media screen and (max-width: 36rem) {
    div[pcol="1"] {
        width: calc(100% / var(--b-cols-columns, 4));
    }

    div[pcol="2"] {
        width: calc(100% / var(--b-cols-columns, 4) * 2);
    }

    div[pcol="3"] {
        width: calc(100% / var(--b-cols-columns, 4) * 3);
    }

    div[pcol="4"] {
        width: calc(100% / var(--b-cols-columns, 4) * 4);
    }
}

div {
    position: relative;
}

div {
    width: calc(100% / var(--b-cols-columns) * var(--b-cols) / var(--b-cols-resize, 1));
}

/* tablet */
@media screen and (max-width: 48rem) {
    div[sm="1"] {
        width: calc(100% / var(--b-cols-columns));
    }

    div[sm="2"] {
        width: calc(100% / var(--b-cols-columns) * 2);
    }

    div[sm="3"] {
        width: calc(100% / var(--b-cols-columns) * 3);
    }

    div[sm="4"] {
        width: calc(100% / var(--b-cols-columns) * 4);
    }

    div[sm="5"] {
        width: calc(100% / var(--b-cols-columns) * 5);
    }

    div[sm="6"] {
        width: calc(100% / var(--b-cols-columns) * 6);
    }

    div[sm="7"] {
        width: calc(100% / var(--b-cols-columns) * 7);
    }

    div[sm="8"] {
        width: calc(100% / var(--b-cols-columns) * 8);
    }

    div[sm="9"] {
        width: calc(100% / var(--b-cols-columns) * 9);
    }

    div[sm="10"] {
        width: calc(100% / var(--b-cols-columns) * 10);
    }

    div[sm="11"] {
        width: calc(100% / var(--b-cols-columns) * 11);
    }

    div[sm="12"] {
        width: calc(100% / var(--b-cols-columns) * 12);
    }

    div {
        width: calc(100% / var(--b-cols-columns) * var(--b-cols-sm, var(--b-cols)));
    }
}

/* phone */
@media screen and (max-width: 36rem) {
    div[xs="1"] {
        width: calc(100% / var(--b-cols-columns));
    }

    div[xs="2"] {
        width: calc(100% / var(--b-cols-columns) * 2);
    }

    div[xs="3"] {
        width: calc(100% / var(--b-cols-columns) * 3);
    }

    div[xs="4"] {
        width: calc(100% / var(--b-cols-columns) * 4);
    }

    div[xs="5"] {
        width: calc(100% / var(--b-cols-columns) * 5);
    }

    div[xs="6"] {
        width: calc(100% / var(--b-cols-columns) * 6);
    }

    div[xs="7"] {
        width: calc(100% / var(--b-cols-columns) * 7);
    }

    div[xs="8"] {
        width: calc(100% / var(--b-cols-columns) * 8);
    }

    div[xs="9"] {
        width: calc(100% / var(--b-cols-columns) * 9);
    }

    div[xs="10"] {
        width: calc(100% / var(--b-cols-columns) * 10);
    }

    div[xs="11"] {
        width: calc(100% / var(--b-cols-columns) * 11);
    }

    div[xs="12"] {
        width: calc(100% / var(--b-cols-columns) * 12);
    }

    div {
        width: calc(100% / var(--b-cols-columns) * var(--b-cols-xs, var(--b-cols-sm, var(--b-cols))));
    }
}

/* lg */
@media screen and (min-width: 68rem) {
    div[lg="1"] {
        width: calc(100% / var(--b-cols-columns));
    }

    div[lg="2"] {
        width: calc(100% / var(--b-cols-columns) * 2);
    }

    div[lg="3"] {
        width: calc(100% / var(--b-cols-columns) * 3);
    }

    div[lg="4"] {
        width: calc(100% / var(--b-cols-columns) * 4);
    }

    div[lg="5"] {
        width: calc(100% / var(--b-cols-columns) * 5);
    }

    div[lg="6"] {
        width: calc(100% / var(--b-cols-columns) * 6);
    }

    div[lg="7"] {
        width: calc(100% / var(--b-cols-columns) * 7);
    }

    div[lg="8"] {
        width: calc(100% / var(--b-cols-columns) * 8);
    }

    div[lg="9"] {
        width: calc(100% / var(--b-cols-columns) * 9);
    }

    div[lg="10"] {
        width: calc(100% / var(--b-cols-columns) * 10);
    }

    div[lg="11"] {
        width: calc(100% / var(--b-cols-columns) * 11);
    }

    div[lg="12"] {
        width: calc(100% / var(--b-cols-columns) * 12);
    }

    div {
        width: calc(100% / var(--b-cols-columns) * var(--b-cols-lg, var(--b-cols)));
    }
}

/* xl */
@media screen and (min-width: 116rem) {
    div[xl="1"] {
        width: calc(100% / var(--b-cols-columns));
    }

    div[xl="2"] {
        width: calc(100% / var(--b-cols-columns) * 2);
    }

    div[xl="3"] {
        width: calc(100% / var(--b-cols-columns) * 3);
    }

    div[xl="4"] {
        width: calc(100% / var(--b-cols-columns) * 4);
    }

    div[xl="5"] {
        width: calc(100% / var(--b-cols-columns) * 5);
    }

    div[xl="6"] {
        width: calc(100% / var(--b-cols-columns) * 6);
    }

    div[xl="7"] {
        width: calc(100% / var(--b-cols-columns) * 7);
    }

    div[xl="8"] {
        width: calc(100% / var(--b-cols-columns) * 8);
    }

    div[xl="9"] {
        width: calc(100% / var(--b-cols-columns) * 9);
    }

    div[xl="10"] {
        width: calc(100% / var(--b-cols-columns) * 10);
    }

    div[xl="11"] {
        width: calc(100% / var(--b-cols-columns) * 11);
    }

    div[xl="12"] {
        width: calc(100% / var(--b-cols-columns) * 12);
    }

    div {
        width: calc(100% / var(--b-cols-columns) * var(--b-cols-xl, var(--b-cols-lg, var(--b-cols))));
    }
}

/* xxs */
@media screen and (max-width: 24rem) {
    div[col] {
        width: 100%;
    }

    div[qcol="1"] {
        width: 25%;
    }

    div[qcol="2"] {
        width: 50%;
    }

    div[qcol="3"] {
        width: 75%;
    }

    div[qcol="4"] {
        width: 100%;
    }
}

div[fullsize] {
    width: 100%;
}

@media screen and (max-width: 36rem) {
    div[fullsize-xs] {
        width: 100%;
    }
}

@media screen and (max-width: 48rem) {
    div[fullsize-sm] {
        width: 100%;
    }
}

@media screen and (min-width: 68rem) {
    div[fullsize-lg] {
        width: 100%;
    }
}

@media screen and (min-width: 116rem) {
    div[fullsize-xl] {
        width: 100%;
    }
}

div {
    padding-right: calc(var(--b-cols-gutter) / 2);
    padding-left: calc(var(--b-cols-gutter) / 2);
}
