<CascadingValue Value="GroupContext">
    <div @attributes="UnmatchedAttributes"
         class="@Classes"
         role="group"
         aria-label="@EffectiveAriaLabel">
        @ChildContent
    </div>
</CascadingValue>
