
<button type="@Type.ToHtmlAttr()"
        class="@Classes"
        disabled="@EffectiveDisabled"
        @onclick="ClickHandler"
        @attributes="AdditionalAttributes"
        @ref="Reference">

    @if (Icon is not null && IconPosition == Positions.Start)
    {
        @RenderIcon
    }

    @Label

    @if (Icon is not null && IconPosition == Positions.End)
    {
        @RenderIcon
    }

    @ChildContent

    <Ripple Dark="DarkRipple" />
</button>

@code{

    private string Classes => "ya-btn"
		.AddClass(EffectiveStyle.ToButtonTheme(Active, Outline))
		.AddClass(EffectiveSize.ToButtonSize())
		.AddClass(Block, "w-full")
        .AddClass(EffectiveDisabled, "cursor-not-allowed opacity-50")
		.AddClass(AdditionalClasses);

    private RenderFragment RenderIcon => IconAnimation is not null
        ? IconAnimation(IconRender.Fragment(Icon!))
		: IconRender.Fragment(Icon!);

    private bool DarkRipple => Outline || EffectiveStyle is Themes.Light;
}
