
<button type="@Type.ToHtmlAttr()"
        class="@Classes"
        disabled="@Disabled"
        @onclick="ClickHandler"
        @attributes="AdditionalAttributes"
        @ref="Reference">

    @if (IconFragment is not null)
    {
        @IconFragment()
    }
    else
    {
        @RenderIcon
    }

    <Ripple Dark="true" />
</button>

@code {

    private string Classes => "ya-i-btn"
        .AddClass(Style.ToIconButtonTheme(Active, Outline))
        .AddClass(Size.ToIconButtonSize())
        .AddClass(Active, "active")
        .AddClass(Disabled, "cursor-not-allowed opacity-50")
        .AddClass(AdditionalClasses);

    private RenderFragment RenderIcon => IconAnimation is not null
        ? IconAnimation(IconRender.Fragment(Icon!))
        : IconRender.Fragment(Icon!);
}
