@inject ModalService ModalService

<div class="@Classes" id="ya-modal-backdrop" tabindex="-1" @onclick="BackdropClickHandler" @ontransitionend="TransitionEndHandler"></div>

@code {
	private string Classes => "ya-modal-backdrop"
		.AddClass(phase == ModalPhase.Opened, "ya-modal-backdrop-shown")
		.AddClass(phase != ModalPhase.Closed, "ya-modal-visible")
		.AddClass(phase == ModalPhase.Opening, "ya-modal-backdrop-showing")
		.AddClass(phase == ModalPhase.Closing, "ya-modal-backdrop-hiding");

	private ModalPhase phase;
	private ModalAction? currentAction;

	private Task BackdropClickHandler(MouseEventArgs args) => ModalService.BackdropActionAsync();

	internal async Task PerformAsync(ModalAction action)
	{
		await InvokeAsync(async () =>
		{
			if (currentAction is not null)
				await currentAction.OnComplete();

			currentAction = action;
			if (action.Type == ModalActionType.Open)
			{
				phase = ModalPhase.Opening;
			}
			else
			{
				phase = ModalPhase.Closing;

				var action = currentAction;
				await Task.Run(async () =>
				{
					await Task.Delay(300);
					if (action == currentAction)
						await TransitionEndHandler();
				});
			}
			StateHasChanged();
		});
	}

	private async Task TransitionEndHandler()
	{
		if (currentAction is null)
				return;

		await currentAction.Completed();
		currentAction = null;

		if (phase == ModalPhase.Closing)
			await InvokeAsync(async () =>
			{
				phase = ModalPhase.Closed;
				StateHasChanged();
			});
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (phase == ModalPhase.Opening)
		{
			await InvokeAsync(async () =>
			{
				await Task.Delay(10);
				phase = ModalPhase.Opened;
				StateHasChanged();
				
				var action = currentAction;
				await Task.Run(async () => {
					await Task.Delay(300);
					if (action == currentAction)
						await TransitionEndHandler();
				});
			});
		}
	}
}
