@using Microsoft.AspNetCore.Components.Sections

@inject ModalService ModalService

<div class="@Classes" id="ya-modal-outlet" tabindex="-1" @onkeydown="KeyDownHandler" @attributes="Attributes">
	@foreach (var item in ModalService.Items)
	{
		<SectionOutlet SectionId="item" @key="item" />
	}
	<Backdrop @ref="backdrop" />
</div>

@code {
	private static readonly IReadOnlyDictionary<string, object> closedAttributes = new Dictionary<string, object>()
	{
		{ "aria-hidden", "true" }
	};

	private static readonly IReadOnlyDictionary<string, object> openedAttributes = new Dictionary<string, object>()
	{
		{ "aria-modal", "true" },
		{ "role", "dialog" }
	};

	private bool isOpen = false;
	private Backdrop? backdrop;
	private ModalAction? currentAction;

	private IReadOnlyDictionary<string, object> Attributes => ModalService.IsOpen ? openedAttributes : closedAttributes;

	private string Classes => ModalService.IsOpen ? "ya-modal-outlet ya-modal-outlet-show" : "ya-modal-outlet";

	protected override void OnInitialized()
	{
		ModalService.Outlet = this;
	}

	private Task KeyDownHandler(KeyboardEventArgs args)
	{
		// if escape is pressed, then do same as click, otherwise return
		return args.Key == "Escape" ? ModalService.BackdropActionAsync() : Task.CompletedTask;
	}

	/// <summary>
	/// Notifies the component that the state has changed.
	/// </summary>
	internal new void StateHasChanged() => base.StateHasChanged();

	internal Task PerformAsync(ModalAction action)
	{
		return InvokeAsync(async () => {

			if (currentAction is not null)
				await currentAction.OnComplete();

			currentAction = action;
			isOpen = action.Type == ModalActionType.Open;
			StateHasChanged();
		});
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (currentAction is not null && backdrop is not null)
		{
			var action = currentAction;
			currentAction = null;
			await backdrop.PerformAsync(action);
		}
	}
}
