@using Microsoft.AspNetCore.Components.Sections

@inject ModalService ModalService

<div class="@Classes" 
	 id="ya-modal-outlet" 
	 tabindex="-1" 
	 @onkeydown="keyDownHandler"
	 @attributes="Attributes"
>
	@foreach (var modal in ModalService.Modals)
	{
		<SectionOutlet SectionId="modal" @key="modal" />
	}
	<ModalBackdrop />
</div>

@code {
	private static readonly IReadOnlyDictionary<string, object> closedAttributes = new Dictionary<string, object>()
	{
		{ "aria-hidden", "true" }
	};

	private static readonly IReadOnlyDictionary<string, object> openedAttributes = new Dictionary<string, object>()
	{
		{ "aria-modal", "true" },
		{ "role", "dialog" }
	};

	private IReadOnlyDictionary<string, object> Attributes => ModalService.IsOpen ? openedAttributes : closedAttributes;
	private string Classes => ModalService.IsOpen ? "ya-modal-outlet ya-modal-outlet-open" : "ya-modal-outlet";

	private readonly Func<KeyboardEventArgs, Task> keyDownHandler;
	private readonly Action stateHasChanged;

	private bool lastIsOpen = false;

	public ModalOutlet()
	{
		keyDownHandler = KeyDownHandler;
		stateHasChanged = StateHasChanged;
	}

	protected override void OnInitialized()
	{
		ModalService.Outlet = this;
	}

	private Task KeyDownHandler(KeyboardEventArgs args)
	{
		// if escape is pressed, then do same as click, otherwise return
		return args.Key == "Escape" ? ModalService.BackdropActionAsync() : Task.CompletedTask;
	}

	/// <summary>
	/// Notifies the component that the state has changed.
	/// </summary>
	internal Task StateHasChangedAsync() => InvokeAsync(stateHasChanged);

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (lastIsOpen != ModalService.IsOpen)
		{
			lastIsOpen = ModalService.IsOpen;
			if (ModalService.IsOpen)
				await ModalService.OutletOpenedAsync();
			else
				await ModalService.OutletClosedAsync();
		}
	}
}
