@using RoyalCode.Razor.Icons.Factory

@if (!closed)
{
	<div @attributes="AdditionalAttributes" class="@Classes" role="alert" @onmouseover="HoverHandler" @onmouseout="MouseOutHandler" @onclick="ClickHandler">
		<div class="ya-notification-box">
			@if (Icon)
			{
				<div class="ya-notification-icon">
					@GetIcon()()
				</div>
			}
			else
			{
				<div class="ya-notification-bar"></div>
			}
			<div class="ya-notification-content">
				@if (Text.IsPresent())
				{
					@Text
				}
				@if (ChildContent.IsNotEmptyFragment())
				{
					@ChildContent
				}
			</div>
			@if (Closeable)
			{
				<div class="ya-notification-close">
					<button type="button" class="ya-btn-close" aria-label="Close" @onclick="CloseAsync">
						@WellKnownIcons.Close("text-sm")
					</button>
				</div>
			}
		</div>
		@if (Timer is not null)
		{
			<div class="ya-notification-timer"
				 style="@TimerBarStyles"
				 role="progressbar"
				 aria-hidden="false"
				 aria-label="notification timer"
				 @onanimationend="ProgressBarHandler"></div>
		}
	</div>
}

@code {
	private bool timerPaused;
	private bool closed;
	private bool initialized;

	private string Classes => "ya-notification"
		.AddClass(GetStyle())
		.AddClass(AdditionalClasses);

	private string TimerBarStyles => $"animation-duration: {TotalMilliseconds}ms; animation-play-state:"
		.AddClass(timerPaused, "paused;", "running;");

	private string TotalMilliseconds => Timer?.TotalMilliseconds.ToString() ?? "0";

	[Parameter]
	public RenderFragment? ChildContent { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public string? Text { get; set; }

	[Parameter]
	public Themes Theme { get; set; }

	/// <summary>
	/// Show Icon.
	/// </summary>
	[Parameter]
	public bool Icon { get; set; }

	/// <summary>
	/// A timer after which the notification will close automatically.
	/// </summary>
	[Parameter]
	public TimeSpan? Timer { get; set; }

	/// <summary>
	/// Close the notification when it is clicked.
	/// </summary>
	[Parameter]
	public bool CloseOnClick { get; set; }

	/// <summary>
	/// Whether the notification starts in a closed state.
	/// </summary>
	[Parameter]
	public bool StartClosed { get; set; }

	/// <summary>
	/// Whether the notification can be closed manually. It will show a close button.
	/// </summary>
	[Parameter]
	public bool Closeable { get; set; }

	/// <summary>
	/// Event callback triggered when the notification is closed.
	/// </summary>
	[Parameter]
	public EventCallback OnClose { get; set; }

	/// <summary>
	/// Event callback triggered when the notification is opened.
	/// </summary>
	[Parameter]
	public EventCallback OnOpen { get; set; }

	[Parameter]
	public string? AdditionalClasses { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? AdditionalAttributes { get; set; }

	protected override void OnParametersSet()
	{
		if (!initialized)
		{
			initialized = true;
			closed = StartClosed;
		}
	}

	private Task HoverHandler(MouseEventArgs args)
	{
		timerPaused = true;
		return Task.CompletedTask;
	}

	private Task MouseOutHandler(MouseEventArgs args)
	{
		timerPaused = false;
		return Task.CompletedTask;
	}

	private async Task ClickHandler()
	{
		if (CloseOnClick)
			await CloseAsync();
	}

	private async Task ProgressBarHandler(EventArgs args)
	{
		await CloseAsync();
	}

	public async Task CloseAsync()
	{
		if (OnClose.HasDelegate)
			await OnClose.InvokeAsync(null);

		closed = true;
		StateHasChanged();
	}

	public async Task OpenAsync()
	{
		if (OnOpen.HasDelegate)
			await OnOpen.InvokeAsync(null);

		closed = false;
		await InvokeAsync(StateHasChanged);
	}

	private string GetStyle()
	{
		return Theme switch
		{
			Themes.Primary => "ya-notification-primary",
			Themes.Secondary => "ya-notification-secondary",
			Themes.Tertiary => "ya-notification-tertiary",
			Themes.Info => "ya-notification-info",
			Themes.Highlight => "ya-notification-highlight",
			Themes.Success => "ya-notification-success",
			Themes.Warning => "ya-notification-warning",
			Themes.Alert => "ya-notification-alert",
			Themes.Danger => "ya-notification-danger",
			Themes.Light => "ya-notification-light",
			Themes.Dark => "ya-notification-dark",
			_ => "ya-notification-highlight",
		};
	}

	private IconFragment GetIcon()
	{
		return Theme switch
		{
			Themes.Primary => WellKnownIcons.Info,
			Themes.Secondary => WellKnownIcons.Info,
			Themes.Tertiary => WellKnownIcons.Info,
			Themes.Info => WellKnownIcons.Info,
			Themes.Highlight => WellKnownIcons.Highlight,
			Themes.Success => WellKnownIcons.Success,
			Themes.Warning => WellKnownIcons.Warning,
			Themes.Alert => WellKnownIcons.Alert,
			Themes.Danger => WellKnownIcons.Error,
			Themes.Light => WellKnownIcons.Info,
			Themes.Dark => WellKnownIcons.Info,
			_ => WellKnownIcons.Info,
		};
	}
}
