
.alert {
    position: relative;
    padding: var(--b-alert-py) var(--b-alert-px);
    margin-bottom: var(--b-alert-mb);
    color: var(--b-alert-color);
    background-color: var(--b-alert-bg);
    border-width: var(--b-alert-border-width);
    border-style: var(--b-alert-border-style);
    border-color: var(--b-alert-border-color);
    border-radius: var(--b-alert-border-radius);
}

.alert-heading {
    color: inherit;
}

.alert ::deep .alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 3rem;
}

    .alert-dismissible .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 1.25rem 1rem;
    }

.alert-primary {
    --b-alert-color: var(--b-color-primary-d5);
    --b-alert-bg: var(--b-color-primary-l7);
    --b-alert-border-color: var(--b-color-primary-l4);
}

    .alert-primary hr {
        border-top-color: var(--b-color-primary-d5);
    }

    .alert-primary ::deep .alert-link {
        color: var(--b-color-primary-d5);
    }

.alert-secondary {
    --b-alert-color: var(--b-color-secondary-d5);
    --b-alert-bg: var(--b-color-secondary-l7);
    --b-alert-border-color: var(--b-color-secondary-l4);
}

    .alert-secondary hr {
        border-top-color: var(--b-color-secondary-d5);
    }

    .alert-secondary ::deep .alert-link {
        color: var(--b-color-secondary-d5);
    }

.alert-success {
    --b-alert-color: var(--b-color-success-d5);
    --b-alert-bg: var(--b-color-success-l7);
    --b-alert-border-color: var(--b-color-success-l4);
}

    .alert-success hr {
        border-top-color: var(--b-color-success-d5);
    }

    .alert-success ::deep .alert-link {
        color: var(--b-color-success-d5);
    }

.alert-info {
    --b-alert-color: var(--b-color-info-d5);
    --b-alert-bg: var(--b-color-info-l7);
    --b-alert-border-color: var(--b-color-info-l4);
}

    .alert-info hr {
        border-top-color: var(--b-color-info-d5);
    }

    .alert-info ::deep .alert-link {
        color: var(--b-color-info-d5);
    }

.alert-warning {
    --b-alert-color: var(--b-color-warning-d5);
    --b-alert-bg: var(--b-color-warning-l7);
    --b-alert-border-color: var(--b-color-warning-l4);
}

    .alert-warning hr {
        border-top-color: var(--b-color-warning-d5);
    }

    .alert-warning ::deep .alert-link {
        color: var(--b-color-warning-d5);
    }

.alert-danger {
    --b-alert-color: var(--b-color-danger-d5);
    --b-alert-bg: var(--b-color-danger-l7);
    --b-alert-border-color: var(--b-color-danger-l4);
}

    .alert-danger hr {
        border-top-color: var(--b-color-danger-d5);
    }

    .alert-danger ::deep .alert-link {
        color: var(--b-color-danger-d5);
    }

.alert-light {
    --b-alert-color: var(--b-color-light-d7);
    --b-alert-bg: var(--b-color-light-l4);
    --b-alert-border-color: var(--b-color-light-d1);
}

    .alert-light hr {
        border-top-color: var(--b-color-light-d7);
    }

    .alert-light ::deep .alert-link {
        color: var(--b-color-light-d7);
    }

.alert-dark {
    --b-alert-color: var(--b-color-dark-d7);
    --b-alert-bg: var(--b-color-dark-l7);
    --b-alert-border-color: var(--b-color-dark-l4);
}

    .alert-dark hr {
        border-top-color: var(--b-color-dark-d7);
    }

    .alert-dark ::deep .alert-link {
        color: var(--b-color-dark-d7);
    }

    