
<a class="@classes(this)" @attributes="AdditionalAttributes">@ChildContent</a>

@code {

    private static CssMap<AlertLink> classes = Css.Map<AlertLink>()
        .Add("alert-link")
        .Add(static a => a.AdditionalClasses)
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string AdditionalClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }
}
