div {
    display: none;
    background-color: black;
    opacity: 0;
    transition: var(--b-theme-transition);
    z-index: var(--b-modal-backdrop--z-index);
}

    div.show {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .2;
    }
