/*** border ***/

/* border */

.border {
    border-width: var(--border--width);
    border-style: var(--border--style);
    border-color: var(--border--color);
}

.border-0 {
    border: 0;
}

.border-top {
    border-top: var(--border--width) var(--border--style) var(--border--color);
}

.border-top-0 {
    border-top: 0;
}

.border-end {
    border-right: var(--border--width) var(--border--style) var(--border--color);
}

.border-end-0 {
    border-right: 0;
}

.border-bottom {
    border-bottom: var(--border--width) var(--border--style) var(--border--color);
}

.border-bottom-0 {
    border-bottom: 0;
}

.border-start {
    border-left: var(--border--width) var(--border--style) var(--border--color);
}

.border-start-0 {
    border-left: 0;
}

/* border-width */

.border-1 {
    --border--width: var(--border-1);
}

.border-2 {
    --border--width: var(--border-2);
}

.border-3 {
    --border--width: var(--border-3);
}

.border-4 {
    --border--width: var(--border-4);
}

.border-5 {
    --border--width: var(--border-5);
}

.border-6 {
    --border--width: var(--border-6);
}

.border-7 {
    --border--width: var(--border-7);
}

.border-8 {
    --border--width: var(--border-8);
}

.border-9 {
    --border--width: var(--border-9);
}

/* border-style */

.border-none {
    --border--style: none;
}

.border-solid {
    --b-border--style: solid;
}

.border-dashed {
    --b-border--style: dashed;
}

.border-dot-dash {
    --b-border--style: dot-dash;
}

.border-dot-dot-dash {
    --b-border--style: dot-dot-dash;
}

.border-dotted {
    --b-border--style: dotted;
}

.border-double {
    --b-border--style: double;
}

.border-groove {
    --b-border--style: groove;
}

.border-hidden {
    --b-border--style: hidden;
}

.border-inset {
    --b-border--style: inset;
}

.border-outset {
    --b-border--style: outset;
}

.border-ridge {
    --b-border--style: ridge;
}

.border-wave {
    --b-border--style: wave;
}

.border-revert {
    --b-border--style: revert;
}

/* border-color */

.border-primary {
    --border--color: var(--color-primary);
}

.border-secondary {
    --border--color: var(--color-secondary);
}

.border-tertiary {
    --border--color: var(--color-tertiary);
}

.border-info {
    --border--color: var(--color-info);
}

.border-highlight {
    --border--color: var(--color-highlight);
}

.border-success {
    --border--color: var(--color-success);
}

.border-warning {
    --border--color: var(--color-warning);
}

.border-alert {
    --border--color: var(--color-alert);
}

.border-danger {
    --border--color: var(--color-danger);
}

.border-light {
    --border--color: var(--color-light);
}

.border-dark {
    --border--color: var(--color-dark);
}

/* border-color light and dark */

.border-primary-light {
    --border--color: var(--color-primary-light);

}

.border-primary-lighter {
    --border--color: var(--color-primary-lighter);
}

.border-primary-lightest {
    --border--color: var(--color-primary-lightest);
}

.border-primary-white {
    --border--color: var(--color-primary-white);
}

.border-primary-dark {
    --border--color: var(--color-primary-dark);
}

.border-primary-darker {
    --border--color: var(--color-primary-darker);
}

.border-primary-darkest {
    --border--color: var(--color-primary-darkest);
}

.border-primary-black {
    --border--color: var(--color-primary-black);
}

.border-secondary-light {
    --border--color: var(--color-secondary-light);
}

.border-secondary-lighter {
    --border--color: var(--color-secondary-lighter);
}

.border-secondary-lightest {
    --border--color: var(--color-secondary-lightest);
}

.border-secondary-white {
    --border--color: var(--color-secondary-white);
}

.border-secondary-dark {
    --border--color: var(--color-secondary-dark);
}

.border-secondary-darker {
    --border--color: var(--color-secondary-darker);
}

.border-secondary-darkest {
    --border--color: var(--color-secondary-darkest);
}

.border-secondary-black {
    --border--color: var(--color-secondary-black);
}

.border-tertiary-light {
    --border--color: var(--color-tertiary-light);
}

.border-tertiary-lighter {
    --border--color: var(--color-tertiary-lighter);
}

.border-tertiary-lightest {
    --border--color: var(--color-tertiary-lightest);
}

.border-tertiary-white {
    --border--color: var(--color-tertiary-white);
}

.border-tertiary-dark {
    --border--color: var(--color-tertiary-dark);
}

.border-tertiary-darker {
    --border--color: var(--color-tertiary-darker);
}

.border-tertiary-darkest {
    --border--color: var(--color-tertiary-darkest);
}

.border-tertiary-black {
    --border--color: var(--color-tertiary-black);
}

.border-info-light {
    --border--color: var(--color-info-light);
}

.border-info-lighter {
    --border--color: var(--color-info-lighter);
}

.border-info-lightest {
    --border--color: var(--color-info-lightest);
}

.border-info-white {
    --border--color: var(--color-info-white);
}

.border-info-dark {
    --border--color: var(--color-info-dark);
}

.border-info-darker {
    --border--color: var(--color-info-darker);
}

.border-info-darkest {
    --border--color: var(--color-info-darkest);
}

.border-info-black {
    --border--color: var(--color-info-black);
}

.border-highlight-light {
    --border--color: var(--color-highlight-light);
}

.border-highlight-lighter {
    --border--color: var(--color-highlight-lighter);
}

.border-highlight-lightest {
    --border--color: var(--color-highlight-lightest);
}

.border-highlight-white {
    --border--color: var(--color-highlight-white);
}

.border-highlight-dark {
    --border--color: var(--color-highlight-dark);
}

.border-highlight-darker {
    --border--color: var(--color-highlight-darker);
}

.border-highlight-darkest {
    --border--color: var(--color-highlight-darkest);
}

.border-highlight-black {
    --border--color: var(--color-highlight-black);
}

.border-success-light {
    --border--color: var(--color-success-light);
}

.border-success-lighter {
    --border--color: var(--color-success-lighter);
}

.border-success-lightest {
    --border--color: var(--color-success-lightest);
}

.border-success-white {
    --border--color: var(--color-success-white);
}

.border-success-dark {
    --border--color: var(--color-success-dark);
}

.border-success-darker {
    --border--color: var(--color-success-darker);
}

.border-success-darkest {
    --border--color: var(--color-success-darkest);
}

.border-success-black {
    --border--color: var(--color-success-black);
}

.border-warning-light {
    --border--color: var(--color-warning-light);
}

.border-warning-lighter {
    --border--color: var(--color-warning-lighter);
}

.border-warning-lightest {
    --border--color: var(--color-warning-lightest);
}

.border-warning-white {
    --border--color: var(--color-warning-white);
}

.border-warning-dark {
    --border--color: var(--color-warning-dark);
}

.border-warning-darker {
    --border--color: var(--color-warning-darker);
}

.border-warning-darkest {
    --border--color: var(--color-warning-darkest);
}

.border-warning-black {
    --border--color: var(--color-warning-black);
}

.border-alert-light {
    --border--color: var(--color-alert-light);
}

.border-alert-lighter {
    --border--color: var(--color-alert-lighter);
}

.border-alert-lightest {
    --border--color: var(--color-alert-lightest);
}

.border-alert-white {
    --border--color: var(--color-alert-white);
}

.border-alert-dark {
    --border--color: var(--color-alert-dark);
}

.border-alert-darker {
    --border--color: var(--color-alert-darker);
}

.border-alert-darkest {
    --border--color: var(--color-alert-darkest);
}

.border-alert-black {
    --border--color: var(--color-alert-black);
}

.border-danger-light {
    --border--color: var(--color-danger-light);
}

.border-danger-lighter {
    --border--color: var(--color-danger-lighter);
}

.border-danger-lightest {
    --border--color: var(--color-danger-lightest);
}

.border-danger-white {
    --border--color: var(--color-danger-white);
}

.border-danger-dark {
    --border--color: var(--color-danger-dark);
}

.border-danger-darker {
    --border--color: var(--color-danger-darker);
}

.border-danger-darkest {
    --border--color: var(--color-danger-darkest);
}

.border-danger-black {
    --border--color: var(--color-danger-black);
}

/* round - radius - round */

.round {
    border-radius: var(--border-radius);
}

.round-top {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.round-end {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.round-bottom {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.round-start {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.round-top-start {
    border-top-left-radius: var(--border-radius);
}

.round-top-end {
    border-top-right-radius: var(--border-radius);
}

.round-bottom-end {
    border-bottom-right-radius: var(--border-radius);
}

.round-bottom-start {
    border-bottom-left-radius: var(--border-radius);
}

/* round - radius */

.round-0 {
    border-radius: 0;
}

.round-1 {
    border-radius: var(--border-radius-1);
}

.round-2 {
    border-radius: var(--border-radius-2);
}

.round-3 {
    border-radius: var(--border-radius-3);
}

.round-4 {
    border-radius: var(--border-radius-4);
}

.round-5 {
    border-radius: var(--border-radius-5);
}

.round-6 {
    border-radius: var(--border-radius-6);
}

.round-7 {
    border-radius: var(--border-radius-7);
}

.round-8 {
    border-radius: var(--border-radius-8);
}

.round-9 {
    border-radius: var(--border-radius-9);
}

.round-circle {
    border-radius: var(--radius-circle);
}

.round-pill {
    border-radius: var(--radius-pill);
}

.round-ellipse {
    border-radius: var(--radius-ellipse);
}

/* shadow */

.shadow-0 {
    box-shadow: var(--shadow-0);
}

.shadow-1 {
    box-shadow: var(--shadow-1);
}

.shadow-2 {
    box-shadow: var(--shadow-2);
}

.shadow-3 {
    box-shadow: var(--shadow-3);
}

.shadow-4 {
    box-shadow: var(--shadow-4);
}

.shadow-5 {
    box-shadow: var(--shadow-5);
}

.shadow-6 {
    box-shadow: var(--shadow-6);
}

.shadow-7 {
    box-shadow: var(--shadow-7);
}

.shadow-8 {
    box-shadow: var(--shadow-8);
}

.shadow-9 {
    box-shadow: var(--shadow-9);
}

.shadow-10 {
    box-shadow: var(--shadow-10);
}

.shadow-11 {
    box-shadow: var(--shadow-11);
}

.shadow-12 {
    box-shadow: var(--shadow-12);
}