@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br/>

<DropButton Label="Dropdown" MinWidth="Sizes.Large" Style="ButtonStyles.Primary" AdditionalClasses="mt-2">
    <li @onclick="@(e => { Console.WriteLine("Hello drop item"); })">Hello</li>
</DropButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 22;
    }
}
