
@if (messages?.Any() ?? false)
{
    <div @attributes="@AdditionalAttributes">
        @foreach (var msg in messages)
        {
            <span>@msg</span>
        }
    </div>
}


@code {
    private IEnumerable<string>? messages;

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [CascadingParameter]
    IModelContext CascadeModelContext { get; set; } = default!;

    [Parameter]
    public FieldIdentifier? FieldIdentifier { get; set; }
}
