
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}

    .form-check.within-container {
        padding-top: 2.25rem;
    }

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
    border-radius: 0.375rem;
    height: 1.25rem;
    width: 1.25rem;
}

    .form-check-input:focus {
        box-shadow: var(--b-field--box-shadow--focus);
    }

.form-check-label {
    margin-bottom: 0;
}

.form-check-input.is-invalid {
    color: var(--b-field-invalid--border-color);
}

.form-check-label.is-invalid {
    color: var(--b-field-invalid--border-color);
}