<div @attributes="AdditionalAttributes" class="@Classes">
    @if (Title is not null || Closeable)
    {
        <header class="@HeaderClasses">
            @if (Title is not null)
            {
                <h5>@Title</h5>
            }
            @if (Handler != null && Closeable)
            {
                <button type="button" class="ya-btn-close" aria-label="Close" @onclick="CloseHandler">
                    @WellKnownIcons.Close("text-sm")
                </button>
            }
        </header>
    }
    <div>
        @ChildContent
    </div>
</div>

@code {

    private string Classes => "ya-aside-box"
        .AddClass("max-w-full p-6 h-auto flex flex-col bg-primary-light-100 overflow-y-auto")
        .AddClass(Size.ToContentCssClass())
        .AddClass(AdditionalClasses);

    private string HeaderClasses => "flex space-between center mb-5 w-full"
        .AddClass(Title is not null, "h-8", "h-3");

    [CascadingParameter]
    public OffCanvasHandler? Handler { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool Closeable { get; set; }

    [Parameter]
    public Sizes Size { get; set; } = Sizes.Medium;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public string? AdditionalClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    public async Task CloseHandler()
    {
        if (Handler is not null)
            await Handler.Hide();
    }
}