
/*.ya-offcanvas {
    visibility: hidden;
    position: fixed;
    z-index: 20;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
    outline: 0;
    transform: translateX(-100%);
    top: var(--ya-fit-top);
    left: var(--ya-fit-left);
    bottom: var(--ya-fit-bottom);
    background-color: #FFF;
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: 150ms;
}

.ya-offcanvas-show {
    transform: none;
    visibility: visible;
    box-shadow: -3px 0 3px 0 #00000020;
}*/

    aside.offcanvas-overlaying {
        top: 0;
    }

    aside.offcanvas-float {
        top: calc(var(--b-aside-offcanvas--top) + var(--b-aside-offcanvas--float-gap));
        bottom: var(--b-aside-offcanvas--float-gap);
        right: var(--b-aside-offcanvas--float-gap);
        border-radius: var(--b-border--radius-3);
    }

        aside.offcanvas-float ::deep > * {
            border-radius: var(--b-border--radius-3);
        }

    

        aside.ya-offcanvas-show.offcanvas-float {
            box-shadow: var(--b-shadow-2);
        }
/*
div {
    display: none;
    background-color: black;
    opacity: 0;
    transition: var(--b-theme-transition);
}

    div.offcanvas-modal.ya-offcanvas-show {
        display: block;
        position: fixed;
        top: var(--b-aside-offcanvas--top);
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        opacity: .2;
    }
*/
        div.offcanvas-modal.ya-offcanvas-show.offcanvas-overlaying {
            top: 0;
        }
