
<div @attributes="AdditionalAttributes" class="@classes(this)">
    @ChildContent
    @if (WhenLarge.IsNotEmptyFragment())
    {
        <div class="large-brand">
            @WhenLarge
        </div>
    }
    @if (WhenLarge.IsNotEmptyFragment())
    {
        <div class="short-brand">
            @WhenShort
        </div>
    }
</div>

@code {
    private static CssMap<AppBrand> classes => Css.Map<AppBrand>()
        .Add("app-brand")
        .Add(static a => a.AdditionalClasses)
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment WhenLarge { get; set; }

    [Parameter]
    public RenderFragment WhenShort { get; set; }

    [Parameter]
    public string AdditionalClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }
}