
footer {
    width: 100%;
    z-index: 1010;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    display: block;
    align-items: flex-start;
    font-size: var(--b-size-3);
    color: var(--b-theme-main);
}

@media(max-width: 68rem) {
    footer {
        padding-left: 0;
    }
}

@media(max-width: 999px) {
}

@media(max-width: 799px) {
}

@media(max-width: 249px) {
}
