<CascadingValue Value="context" IsFixed=true>
    <div b-app-layout @attributes="Attributes" style="">
        <AppNavBar>
            <Start>
                <div style="border: 1px solid #e397bb; background-color: #dfbcd4; min-height: 36px; width: 300px;"></div>    
            </Start>
        </AppNavBar>

        <AppSideMenu>
            <div style="border: 1px solid #e397bb; background-color: #dfbcd4; min-height: 36px; width: 100%;"></div>
        </AppSideMenu>

        <main b-app-main class="@InteractedCssClass" @ref="mainRef">
            @Main
        </main>

        <AppFooter>
            @Footer
        </AppFooter>
    </div>
</CascadingValue>

@code {

    private static LayoutContext context = new LayoutContext();

    private ElementReference mainRef;

    public string InteractedCssClass => context.GetInteractedCssClass();

    [Parameter]
    public RenderFragment Main { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

}