<CascadingValue Value="context" IsFixed=true>
    <div b-app-layout @attributes="Attributes">
        <header class="app-top-content">
            <AppNavBar>
                <Start>
                    @TopStart
                </Start>
                <Middle>
                    @TopCenter
                </Middle>
                <End>
                    @TopEnd
                </End>
            </AppNavBar>
        </header>
        <div class="app-page-content">
            <div class="app-menu-content">
                <AppNavMenu>
                    @Menu
                </AppNavMenu>
            </div>
            <div class="app-center-content">
                <main class="app-main-content" @ref="mainRef">
                    @Main
                </main>
                <footer class="app-footer-content">
                    @Footer
                </footer>
            </div>
        </div>
        <div class="app-aside-content">
            
        </div>
    </div>
</CascadingValue>

@code {

    private static LayoutContext context = new LayoutContext();

    private ElementReference mainRef;

    public string InteractedCssClass => context.GetInteractedCssClass();

    [Parameter]
    public RenderFragment Main { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public RenderFragment TopStart { get; set; }
    
    [Parameter]
    public RenderFragment TopCenter { get; set; }
    
    [Parameter]
    public RenderFragment TopEnd { get; set; }
    
    [Parameter]
    public RenderFragment Menu { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

}