
div[b-app-layout] {
    min-height: 100vh;
    width: 100%;
    display: grid;
    background: var(--b-theme-background);
}

/* header */

header {
    background-color: transparent;
    height: var(--b-header--height);
    border: var(--b-header--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--b-header--z-index);
    display: inline-grid;
}

/* page-content */

.app-page-content {
    padding-top: var(--b-header--height);
    padding-left: var(--b-nav-menu--width);
    display: flex;
    height: 100%;
    width: 100%;
    transition: var(--b-theme-transition);
}

.app-menu-interacted .app-page-content {
    padding-left: 0;
}

/* menu-content */

.app-menu-content {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    padding-top: var(--b-header--height);
    background-color: var(--b-nav-menu--background-color);
    transition: var(--b-theme-transition);
    min-width: var(--b-nav-menu--width);
    width: var(--b-nav-menu--width);
}

.app-menu-original .app-menu-content {
    left: 0;
}

.app-menu-interacted .app-menu-content {
    left: calc(var(--b-nav-menu--width) * -1);
}

.app-menu-backdrop {
    display: none;
    background-color: black;
    opacity: 0.2;
}

/* center-content */

.app-center-content {
    width: 100%;
    align-self: stretch;
    display: grid;
}

/* main-content */

main {
    margin: var(--b-main--margin);
    padding: var(--b-main--padding);
}

/* footer-content */

footer {
    align-self: end;
    min-height: var(--b-footer--min-height);
    background: var(--b-footer--background-color);
    display: flex;
    align-items: center;
}

/* app-aside-content */
.app-aside-content {
    display: none;
}

/* --- screen -- phone  --- */

@media screen and (max-width: 36rem) {
    header {
        height: var(--b-header--phone--height);
    }

    .app-page-content {
        padding-top: var(--b-header--phone--height);
    }
}

/* --- screen -- small  --- */

@media screen and (max-width: 68rem) {
    .app-menu-original .app-page-content {
        padding-left: 0;
    }

    .app-menu-interacted .app-menu-content {
        left: 0;
        min-width: var(--b-nav-menu--width);
        width: var(--b-nav-menu--width);
        z-index: 1068;
    }

    .app-menu-original .app-menu-content {
        left: calc(var(--b-nav-menu--width) * -1);
    }

    .app-menu-interacted .app-menu-backdrop {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1067;
    }

    .app-menu-interacted header {
        z-index: 1069;
    }
}

/* -------------------------- */
/*main {*/
/*    display: block;*/
/*    position: relative;*/
/*    overflow: auto;*/
/*    flex: 1 1 0;*/
/*    transition: var(--b-layout-transition, 'all 0.3s');*/
/*}*/

/*::deep [b-app-footer] {*/
/*    transition: var(--b-layout-transition, 'all 0.3s');*/
/*}*/

/*main ::deep > * {*/
/*    transition: var(--b-layout-transition, 'all 0.3s');*/
/*    margin: 5px 10px 20px 10px;*/
/*    padding: 0 10px 0 10px;*/
/*}*/

/*@media screen and (min-width: 1200px) {*/
/*    main:not(.b-menu-interacted) {*/
/*        padding-left: var(--b-aside-menu--width, var(--b-theme-aside-menu--width));*/
/*    }*/

/*    ::deep [b-app-footer]:not(.b-menu-interacted) {*/
/*        margin-left: var(--b-aside-menu--width, var(--b-theme-aside-menu--width));*/
/*        width: calc(100% - var(--b-aside-menu--width, var(--b-theme-aside-menu--width)));*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1044px) {*/
/*    main.b-menu-interacted ::deep > *:not([fluid]) {*/
/*        max-width: 1024px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1240px) {*/
/*    main.b-menu-interacted ::deep > *:not([fluid]) {*/
/*        max-width: 1200px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1440px) {*/
/*    main.b-menu-interacted ::deep > *:not([fluid]) {*/
/*        max-width: 1400px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1620px) {*/
/*    main.b-menu-interacted ::deep > *:not([fluid]) {*/
/*        max-width: 1600px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1240px) {*/
/*    main.b-menu-interacted ::deep > *:not([fluid])[medium] {*/
/*        max-width: 1200px;*/
/*    }*/
/*}*/
