

button {
    height: var(--b-nav-menu-button--size);
    width: var(--b-nav-menu-button--size);
    border-radius: var(--b-nav-menu-button--border-radius);
    border: none;
    background-color: transparent;
    margin: 0 var(--b-size-3) 0 var(--b-size-3);
}

button:hover {
    background-color: var(--b-nav-menu-button--color);
}