

button {
    height: var(--b-theme-nav-menu-button--size, 42px);
    width: var(--b-theme-nav-menu-button--size, 42px);
    border-radius: var(--b-theme-nav-menu-button--border-radius);
    border: none;
    background-color: transparent;
    margin: 0 5px 0 5px;
}

button:hover {
    background-color: var(--b-theme-nav-menu-button--color);
}