
.app-nav-item ::deep .app-nav-link {
    color: var(--b-nav-menu-item--color);
    background-color: var(--b-nav-menu-item--background-color);
    border-radius: var(--b-size-3);
    margin: var(--b-size-3) 0 var(--b-size-3) 0;
    padding: 0 0 0 var(--b-size-3);
    line-height: var(--b-size-8);
    font-size: var(--b-nav-menu-item--font-size);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.app-nav-item ::deep .app-nav-link:hover {
    background-color: var(--b-nav-menu-item--background-color--hover);
}

.app-nav-item ::deep .app-nav-link.active {
    background-color: var(--b-nav-menu-item--background-color--active);
}