nav {
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--b-theme-primary);
    background-color: var(--b-nav-bar--background-color);
    -webkit-backdrop-filter: var(--b-nav-bar--backdrop-filter);
    backdrop-filter: var(--b-nav-bar--backdrop-filter);
    transition: box-shadow 400ms linear 0s;
}

    nav > div {
        display: flex;
        flex-shrink: 1;
    }

    nav > .start {
        justify-content: flex-start;
        align-items: center;
        order: -1;
    }

    nav > .middle {
        justify-content: center;
        align-items: center;
        order: 0;
    }

    nav > .end {
        justify-content: flex-end;
        align-items: center;
        order: 1;
    }

    nav.b-shadow {
        box-shadow: var(--b-app-nav-bar--shadow, 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 1px 4px 0px rgba(0, 0, 0, 0.12));
    }

        nav.b-shadow.b-scrolled {
            box-shadow: var(--b-app-nav-bar--shadow-scrolled, 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12));
        }

/* aqui, estes valores precisam ser variáveis 879px 1023px 767px 575px */
@media screen and (max-width: 54rem) {
    nav > .middle {
        display: none;
    }
}

@media screen and (max-width:67.9rem) {
    .b-menu-interacted {
        --b-top-bar--backdrop: none;
        --b-top-bar--background-color: white;
    }
}

@media screen and (max-width: 47.9rem) {
    .top-bar-hide-sm {
        display: none !important;
    }
}

@media screen and (max-width: 35.9rem) {
    .top-bar-hide-xs {
        display: none !important;
    }
}

@-moz-document url-prefix() {
    nav {
        background-color: var(--b-nav-bar--moz--background-color);
    }
}