
<nav class="app-nav-menu" @attributes="Attributes">
    <ul>
        @ChildContent
    </ul>
</nav>    

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }
}