
.app-nav-item ::deep .app-nav-link {
    color: var(--b-theme-nav-menu-item--color, #D7E0E7);
    background-color: var(--b-theme-nav-menu-item--background-color, #54606A);
    border-radius: 5px;
    margin: 5px 0 5px 0;
    padding: 0 0 0 0.8rem;
    line-height: 2rem;
    font-size: var(--b-theme-nav-menu-item--font-size, 0.8rem);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.app-nav-item ::deep .app-nav-link:hover {
    background-color: var(--b-theme-nav-menu-item--background-color--hover, rgba(1, 1, 1, 0.1));
}

.app-nav-item ::deep .app-nav-link.active {
    background-color: var(--b-theme-nav-menu-item--background-color--active, rgba(1, 1, 1, 0.2));
}