
<li>
    <NavLink class="app-nav-link" href="@(HRef ?? string.Empty)" Match="@InternalMatch" @onclick="OnClick">
        @Label
    </NavLink>
</li>

@code {

    private NavLinkMatch InternalMatch => Match
        ?? (string.IsNullOrWhiteSpace(HRef) ? NavLinkMatch.All : NavLinkMatch.Prefix);

    [Parameter]
    public string? HRef { get; set; } = string.Empty;

    [Parameter]
    public NavLinkMatch? Match { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [CascadingParameter]
    public LayoutContext? LayoutContext { get; set; }

    private void OnClick()
    {
        if (LayoutContext?.MenuInteracted ?? false)
        {
            LayoutContext.MenuInteract();
        }
    }
}