@using RoyalCode.Yasamen.BlazorShow.Components.Contexts

<label aria-disabled="false" for="control-block" aria-label="block" class="css-ntzqnl">
    <input type="checkbox" role="switch" name="block" @bind="@Value"/>
    <span aria-hidden="true">False</span>
    <span aria-hidden="true">True</span>
</label>

@code {

    private ScenePropertyValue propertyValue;

    private bool Value
    {
        get => propertyValue.ValueBool;
        set
        {
            propertyValue.Value = value;
            propertyValue.StateHasChanged();
        }
    }

    [Parameter, EditorRequired] public SceneContext Context { get; set; }

    [Parameter, EditorRequired] public IShowPropertyDescription Property { get; set; }

    protected override void OnParametersSet()
    {
        propertyValue = Context.GetProperty(Property.Property.Name);
    }

}