
@page "/form"

<h3>FormSample</h3>

<ModelEditor Model="model">

</ModelEditor>

@code {
    private DistributionCenter model;
    private EditContext context;

    public FormSample()
    {
        model = new();
        context = new(model);
    }
}
