@page "/drops"

@layout AppMainLayout

<Box AdditionalClasses="p-8 bg-white border-none">

	<h1>Drops</h1>

	Aqui estão alguns exemplos de uso do componente Drop.

	<h2>DropIconButton</h2>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Down Start</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Down" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Down Center</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Down" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Down End</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Down" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>

	</div>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Right Start</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Right" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Right Center</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Right" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Right End</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Right" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
	</div>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Left Start</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Left" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Left Center</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Left" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Left End</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Left" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
	</div>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Up Start</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Up" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Up Center</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Up" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Up End</span>
			<div class="p-10">
				<DropIconButton Direction="Directions.Up" Icon="BsIconNames.MenuButton" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropIconButton>
			</div>
		</div>
	</div>

	<h2>DropButton</h2>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Down Start</span>
			<div class="p-10">
				<DropButton Label="Drop to Down Start" Direction="Directions.Down" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Down Center</span>
			<div class="p-10">
				<DropButton Label="Drop to Down Center" Direction="Directions.Down" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Down End</span>
			<div class="p-10">
				<DropButton Label="Drop to Down End" Direction="Directions.Down" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
	</div>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Right Start</span>
			<div class="p-10">
				<DropButton Label="Drop to Right Start" Direction="Directions.Right" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Right Center</span>
			<div class="p-10">
				<DropButton Label="Drop to Right Center" Direction="Directions.Right" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Right End</span>
			<div class="p-10">
				<DropButton Label="Drop to Right End" Direction="Directions.Right" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
	</div>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Left Start</span>
			<div class="p-10">
				<DropButton Label="Drop to Left Start" Direction="Directions.Left" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Left Center</span>
			<div class="p-10">
				<DropButton Label="Drop to Left Center" Direction="Directions.Left" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Left End</span>
			<div class="p-10">
				<DropButton Label="Drop to Left End" Direction="Directions.Left" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
	</div>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>Drop to Up Start</span>
			<div class="p-10">
				<DropButton Label="Drop to Up Start" Direction="Directions.Up" MinWidth="sizes" Align="Positions.Start">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Up Center</span>
			<div class="p-10">
				<DropButton Label="Drop to Up Center" Direction="Directions.Up" MinWidth="sizes" Align="Positions.Center">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
		<div class="w-4/12">
			<span>Drop to Up End</span>
			<div class="p-10">
				<DropButton Label="Drop to Up End" Direction="Directions.Up" MinWidth="sizes" Align="Positions.End">
					<DropItem>Item 1</DropItem>
					<DropItem>Item 2</DropItem>
					<DropItem>Item 3</DropItem>
				</DropButton>
			</div>
		</div>
	</div>

	<div class="w-full flex flex-wrap my-8">
		<div class="w-4/12">
			<span>DropDown mini button</span>
			<div class="p-10">
				<div>
					<DropButton MinWidth="sizes" Size="Sizes.Smallest" Style="Themes.Light">
						<ButtonContent>
							<Icon Kind="BsIconNames.ThreeDots" />
						</ButtonContent>
						<DropMenu>
							<DropItem>Item 1</DropItem>
							<DropItem>Item 2</DropItem>
							<DropItem>Item 3</DropItem>
						</DropMenu>
					</DropButton>
				</div>
				<div>
					Small DropButton with Icon
				</div>
			</div>
		</div>
	</div>

</Box>

@code {
	private static readonly Sizes sizes = Sizes.Smaller;
}
