@using System.Threading.Tasks
@inherits LayoutComponentBase

<AppLayout>
    <TopStart>
        Start
    </TopStart>
    <TopCenter>
        Center
    </TopCenter>
    <TopEnd>
        End
    </TopEnd>
    <LeftMenu>
        <div class="my-2 flex justify-center">
            <IconButton title="Open Menu" IconFragment="@WellKnownIcons.Menu" OnClick="ToggleMenu" />
        </div>
        <div class="my-2 flex justify-center">
            <IconButton title="Open Menu" IconFragment="@WellKnownIcons.FavoriteOff" OnClick="ToggleFavorite" />
        </div>
        <AppMenu Handler="menuHandler" />
        <OffCanvas Position="Positions.Start" Handler="favoriteHandler" Title="Favorites">
            <div class="p-4">
				Here are your favorite items.
            </div>
        </OffCanvas>
    </LeftMenu>
    <Main>
        @Body
    </Main>
    <Footer>
        Footer
    </Footer>
</AppLayout>

@code {

    private readonly OffCanvasHandler menuHandler = new();
	private readonly OffCanvasHandler favoriteHandler = new();

    private async Task ToggleMenu()
    {
        await menuHandler.Toggle();
    }

    private async Task ToggleFavorite()
    {
        await favoriteHandler.Toggle();
    }

}
