@using RoyalCode.Razor.Layouts.Models

@if (AppMenuContext.IsLoading)
{
	<div class="app-menu-loading">

	</div>
}
else
{
	@foreach (var item in AppMenuContext.CurrentMenuItem.Children)
	{
		<AppMenuItem Item="item" @key="item" />
	}
}

@code {

	[CascadingParameter]
	public AppMenuContext AppMenuContext { get; set; } = default!;
}
