@using RoyalCode.Razor.Layouts.Models

@if (AppMenuContext.IsLoading)
{
	<div class="app-menu-loading">
		@Animations.Motions.Rotation()(WellKnownIcons.Working())
	</div>
}
else if (AppMenuContext.LoadException is not null)
{
	<div class="app-menu-error">
		Error: @AppMenuContext.LoadException.Message
	</div>
}
else
{
	@foreach (var item in AppMenuContext.CurrentMenuItem.Children)
	{
		<AppMenuItem Item="item" @key="item" />
	}
}

@code {

	[CascadingParameter]
	public AppMenuContext AppMenuContext { get; set; } = default!;
}
