
<div @attributes="AdditionalAttributes" class="@Classes">
    @if (StartContent.IsNotEmptyFragment())
    {
        <div class="ya-top-bar-start">
            @StartContent
        </div>
    }
    @if (CenterContent.IsNotEmptyFragment())
    {
        <div class="ya-top-bar-center">
            @CenterContent
        </div>
    }
    @if (EndContent.IsNotEmptyFragment())
    {
        <div class="ya-top-bar-end">
            @EndContent
        </div>
    }
</div>

@code {

    public string Classes => "ya-top-bar"
            .AddClass(Size.ToHeightCssClass())
            .AddClass(AdditionalClasses);
}
