.screen-phone .h-max-phone-auto,
.screen-xs .h-max-xs-auto {
    max-height: auto;
}

.screen-phone .vh-max-phone-100,
.screen-xs .vh-max-xs-100 {
    max-height: 100vh;
}

.screen-phone .vh-max-phone-90,
.screen-xs .vh-max-xs-90 {
    max-height: 90vh;
}

.screen-phone .vh-max-phone-75,
.screen-xs .vh-max-xs-75 {
    max-height: 75vh;
}

.screen-phone .vh-max-phone-66,
.screen-xs .vh-max-xs-66 {
    max-height: 66.666666vh;
}

.screen-phone .vh-max-phone-50,
.screen-xs .vh-max-xs-50 {
    max-height: 50vh;
}

.screen-phone .vh-max-phone-33,
.screen-xs .vh-max-xs-33 {
    max-height: 33.333333vh;
}

.screen-phone .vh-max-phone-25,
.screen-xs .vh-max-xs-25 {
    max-height: 25vh;
}

.screen-phone .h-max-phone-0,
.screen-xs .h-max-xs-0 {
    max-height: var(--size-0);
}

.screen-phone .h-max-phone-1,
.screen-xs .h-max-xs-1 {
    max-height: var(--size-1);
}

.screen-phone .h-max-phone-2,
.screen-xs .h-max-xs-2 {
    max-height: var(--size-2);
}

.screen-phone .h-max-phone-3,
.screen-xs .h-max-xs-3 {
    max-height: var(--size-3);
}

.screen-phone .h-max-phone-4,
.screen-xs .h-max-xs-4 {
    max-height: var(--size-4);
}

.screen-phone .h-max-phone-5,
.screen-xs .h-max-xs-5 {
    max-height: var(--size-5);
}

.screen-phone .h-max-phone-6,
.screen-xs .h-max-xs-6 {
    max-height: var(--size-6);
}

.screen-phone .h-max-phone-7,
.screen-xs .h-max-xs-7 {
    max-height: var(--size-7);
}

.screen-phone .h-max-phone-8,
.screen-xs .h-max-xs-8 {
    max-height: var(--size-8);
}

.screen-phone .h-max-phone-9,
.screen-xs .h-max-xs-9 {
    max-height: var(--size-9);
}

.screen-phone .h-max-phone-10,
.screen-xs .h-max-xs-10 {
    max-height: var(--size-10);
}

.screen-phone .h-max-phone-11,
.screen-xs .h-max-xs-11 {
    max-height: var(--size-11);
}

.screen-phone .h-max-phone-12,
.screen-xs .h-max-xs-12 {
    max-height: var(--size-12);
}

.screen-phone .h-max-phone-13,
.screen-xs .h-max-xs-13 {
    max-height: var(--size-13);
}

.screen-phone .h-max-phone-14,
.screen-xs .h-max-xs-14 {
    max-height: var(--size-14);
}

.screen-phone .h-max-phone-15,
.screen-xs .h-max-xs-15 {
    max-height: var(--size-15);
}

.screen-phone .h-max-phone-16,
.screen-xs .h-max-xs-16 {
    max-height: var(--size-16);
}

.screen-phone .h-max-phone-17,
.screen-xs .h-max-xs-17 {
    max-height: var(--size-17);
}

.screen-phone .h-max-phone-18,
.screen-xs .h-max-xs-18 {
    max-height: var(--size-18);
}

.screen-phone .h-max-phone-19,
.screen-xs .h-max-xs-19 {
    max-height: var(--size-19);
}

.screen-phone .h-max-phone-20,
.screen-xs .h-max-xs-20 {
    max-height: var(--size-20);
}

.screen-phone .h-max-phone-21,
.screen-xs .h-max-xs-21 {
    max-height: var(--size-21);
}

.screen-phone .h-max-phone-22,
.screen-xs .h-max-xs-22 {
    max-height: var(--size-22);
}

.screen-phone .h-max-phone-23,
.screen-xs .h-max-xs-23 {
    max-height: var(--size-23);
}

.screen-phone .h-max-phone-24,
.screen-xs .h-max-xs-24 {
    max-height: var(--size-24);
}

.screen-phone .h-max-phone-25,
.screen-xs .h-max-xs-25 {
    max-height: var(--size-25);
}

.screen-phone .h-max-phone-26,
.screen-xs .h-max-xs-26 {
    max-height: var(--size-26);
}

.screen-phone .h-max-phone-27,
.screen-xs .h-max-xs-27 {
    max-height: var(--size-27);
}

.screen-phone .h-max-phone-28,
.screen-xs .h-max-xs-28 {
    max-height: var(--size-28);
}

.screen-phone .h-max-phone-29,
.screen-xs .h-max-xs-29 {
    max-height: var(--size-29);
}

.screen-phone .h-max-phone-30,
.screen-xs .h-max-xs-30 {
    max-height: var(--size-30);
}

.screen-phone .h-max-phone-31,
.screen-xs .h-max-xs-31 {
    max-height: var(--size-31);
}

.screen-phone .h-max-phone-32,
.screen-xs .h-max-xs-32 {
    max-height: var(--size-32);
}
