.screen-tablet .h-max-tablet-auto,
.screen-sm .h-max-sm-auto {
    max-height: auto;
}

.screen-tablet .vh-max-tablet-100,
.screen-sm .vh-max-sm-100 {
    max-height: 100vh;
}

.screen-tablet .vh-max-tablet-90,
.screen-sm .vh-max-sm-90 {
    max-height: 90vh;
}

.screen-tablet .vh-max-tablet-75,
.screen-sm .vh-max-sm-75 {
    max-height: 75vh;
}

.screen-tablet .vh-max-tablet-66,
.screen-sm .vh-max-sm-66 {
    max-height: 66.666666vh;
}

.screen-tablet .vh-max-tablet-50,
.screen-sm .vh-max-sm-50 {
    max-height: 50vh;
}

.screen-tablet .vh-max-tablet-33,
.screen-sm .vh-max-sm-33 {
    max-height: 33.333333vh;
}

.screen-tablet .vh-max-tablet-25,
.screen-sm .vh-max-sm-25 {
    max-height: 25vh;
}

.screen-tablet .h-max-tablet-0,
.screen-sm .h-max-sm-0 {
    max-height: var(--size-0);
}

.screen-tablet .h-max-tablet-1,
.screen-sm .h-max-sm-1 {
    max-height: var(--size-1);
}

.screen-tablet .h-max-tablet-2,
.screen-sm .h-max-sm-2 {
    max-height: var(--size-2);
}

.screen-tablet .h-max-tablet-3,
.screen-sm .h-max-sm-3 {
    max-height: var(--size-3);
}

.screen-tablet .h-max-tablet-4,
.screen-sm .h-max-sm-4 {
    max-height: var(--size-4);
}

.screen-tablet .h-max-tablet-5,
.screen-sm .h-max-sm-5 {
    max-height: var(--size-5);
}

.screen-tablet .h-max-tablet-6,
.screen-sm .h-max-sm-6 {
    max-height: var(--size-6);
}

.screen-tablet .h-max-tablet-7,
.screen-sm .h-max-sm-7 {
    max-height: var(--size-7);
}

.screen-tablet .h-max-tablet-8,
.screen-sm .h-max-sm-8 {
    max-height: var(--size-8);
}

.screen-tablet .h-max-tablet-9,
.screen-sm .h-max-sm-9 {
    max-height: var(--size-9);
}

.screen-tablet .h-max-tablet-10,
.screen-sm .h-max-sm-10 {
    max-height: var(--size-10);
}

.screen-tablet .h-max-tablet-11,
.screen-sm .h-max-sm-11 {
    max-height: var(--size-11);
}

.screen-tablet .h-max-tablet-12,
.screen-sm .h-max-sm-12 {
    max-height: var(--size-12);
}

.screen-tablet .h-max-tablet-13,
.screen-sm .h-max-sm-13 {
    max-height: var(--size-13);
}

.screen-tablet .h-max-tablet-14,
.screen-sm .h-max-sm-14 {
    max-height: var(--size-14);
}

.screen-tablet .h-max-tablet-15,
.screen-sm .h-max-sm-15 {
    max-height: var(--size-15);
}

.screen-tablet .h-max-tablet-16,
.screen-sm .h-max-sm-16 {
    max-height: var(--size-16);
}

.screen-tablet .h-max-tablet-17,
.screen-sm .h-max-sm-17 {
    max-height: var(--size-17);
}

.screen-tablet .h-max-tablet-18,
.screen-sm .h-max-sm-18 {
    max-height: var(--size-18);
}

.screen-tablet .h-max-tablet-19,
.screen-sm .h-max-sm-19 {
    max-height: var(--size-19);
}

.screen-tablet .h-max-tablet-20,
.screen-sm .h-max-sm-20 {
    max-height: var(--size-20);
}

.screen-tablet .h-max-tablet-21,
.screen-sm .h-max-sm-21 {
    max-height: var(--size-21);
}

.screen-tablet .h-max-tablet-22,
.screen-sm .h-max-sm-22 {
    max-height: var(--size-22);
}

.screen-tablet .h-max-tablet-23,
.screen-sm .h-max-sm-23 {
    max-height: var(--size-23);
}

.screen-tablet .h-max-tablet-24,
.screen-sm .h-max-sm-24 {
    max-height: var(--size-24);
}

.screen-tablet .h-max-tablet-25,
.screen-sm .h-max-sm-25 {
    max-height: var(--size-25);
}

.screen-tablet .h-max-tablet-26,
.screen-sm .h-max-sm-26 {
    max-height: var(--size-26);
}

.screen-tablet .h-max-tablet-27,
.screen-sm .h-max-sm-27 {
    max-height: var(--size-27);
}

.screen-tablet .h-max-tablet-28,
.screen-sm .h-max-sm-28 {
    max-height: var(--size-28);
}

.screen-tablet .h-max-tablet-29,
.screen-sm .h-max-sm-29 {
    max-height: var(--size-29);
}

.screen-tablet .h-max-tablet-30,
.screen-sm .h-max-sm-30 {
    max-height: var(--size-30);
}

.screen-tablet .h-max-tablet-31,
.screen-sm .h-max-sm-31 {
    max-height: var(--size-31);
}

.screen-tablet .h-max-tablet-32,
.screen-sm .h-max-sm-32 {
    max-height: var(--size-32);
}
