.screen-desktop .h-max-desktop-auto,
.screen-lg .h-max-lg-auto {
    max-height: auto;
}

.screen-desktop .vh-max-desktop-100,
.screen-lg .vh-max-lg-100 {
    max-height: 100vh;
}

.screen-desktop .vh-max-desktop-90,
.screen-lg .vh-max-lg-90 {
    max-height: 90vh;
}

.screen-desktop .vh-max-desktop-75,
.screen-lg .vh-max-lg-75 {
    max-height: 75vh;
}

.screen-desktop .vh-max-desktop-66,
.screen-lg .vh-max-lg-66 {
    max-height: 66.666666vh;
}

.screen-desktop .vh-max-desktop-50,
.screen-lg .vh-max-lg-50 {
    max-height: 50vh;
}

.screen-desktop .vh-max-desktop-33,
.screen-lg .vh-max-lg-33 {
    max-height: 33.333333vh;
}

.screen-desktop .vh-max-desktop-25,
.screen-lg .vh-max-lg-25 {
    max-height: 25vh;
}

.screen-desktop .h-max-desktop-0,
.screen-lg .h-max-lg-0 {
    max-height: var(--size-0);
}

.screen-desktop .h-max-desktop-1,
.screen-lg .h-max-lg-1 {
    max-height: var(--size-1);
}

.screen-desktop .h-max-desktop-2,
.screen-lg .h-max-lg-2 {
    max-height: var(--size-2);
}

.screen-desktop .h-max-desktop-3,
.screen-lg .h-max-lg-3 {
    max-height: var(--size-3);
}

.screen-desktop .h-max-desktop-4,
.screen-lg .h-max-lg-4 {
    max-height: var(--size-4);
}

.screen-desktop .h-max-desktop-5,
.screen-lg .h-max-lg-5 {
    max-height: var(--size-5);
}

.screen-desktop .h-max-desktop-6,
.screen-lg .h-max-lg-6 {
    max-height: var(--size-6);
}

.screen-desktop .h-max-desktop-7,
.screen-lg .h-max-lg-7 {
    max-height: var(--size-7);
}

.screen-desktop .h-max-desktop-8,
.screen-lg .h-max-lg-8 {
    max-height: var(--size-8);
}

.screen-desktop .h-max-desktop-9,
.screen-lg .h-max-lg-9 {
    max-height: var(--size-9);
}

.screen-desktop .h-max-desktop-10,
.screen-lg .h-max-lg-10 {
    max-height: var(--size-10);
}

.screen-desktop .h-max-desktop-11,
.screen-lg .h-max-lg-11 {
    max-height: var(--size-11);
}

.screen-desktop .h-max-desktop-12,
.screen-lg .h-max-lg-12 {
    max-height: var(--size-12);
}

.screen-desktop .h-max-desktop-13,
.screen-lg .h-max-lg-13 {
    max-height: var(--size-13);
}

.screen-desktop .h-max-desktop-14,
.screen-lg .h-max-lg-14 {
    max-height: var(--size-14);
}

.screen-desktop .h-max-desktop-15,
.screen-lg .h-max-lg-15 {
    max-height: var(--size-15);
}

.screen-desktop .h-max-desktop-16,
.screen-lg .h-max-lg-16 {
    max-height: var(--size-16);
}

.screen-desktop .h-max-desktop-17,
.screen-lg .h-max-lg-17 {
    max-height: var(--size-17);
}

.screen-desktop .h-max-desktop-18,
.screen-lg .h-max-lg-18 {
    max-height: var(--size-18);
}

.screen-desktop .h-max-desktop-19,
.screen-lg .h-max-lg-19 {
    max-height: var(--size-19);
}

.screen-desktop .h-max-desktop-20,
.screen-lg .h-max-lg-20 {
    max-height: var(--size-20);
}

.screen-desktop .h-max-desktop-21,
.screen-lg .h-max-lg-21 {
    max-height: var(--size-21);
}

.screen-desktop .h-max-desktop-22,
.screen-lg .h-max-lg-22 {
    max-height: var(--size-22);
}

.screen-desktop .h-max-desktop-23,
.screen-lg .h-max-lg-23 {
    max-height: var(--size-23);
}

.screen-desktop .h-max-desktop-24,
.screen-lg .h-max-lg-24 {
    max-height: var(--size-24);
}

.screen-desktop .h-max-desktop-25,
.screen-lg .h-max-lg-25 {
    max-height: var(--size-25);
}

.screen-desktop .h-max-desktop-26,
.screen-lg .h-max-lg-26 {
    max-height: var(--size-26);
}

.screen-desktop .h-max-desktop-27,
.screen-lg .h-max-lg-27 {
    max-height: var(--size-27);
}

.screen-desktop .h-max-desktop-28,
.screen-lg .h-max-lg-28 {
    max-height: var(--size-28);
}

.screen-desktop .h-max-desktop-29,
.screen-lg .h-max-lg-29 {
    max-height: var(--size-29);
}

.screen-desktop .h-max-desktop-30,
.screen-lg .h-max-lg-30 {
    max-height: var(--size-30);
}

.screen-desktop .h-max-desktop-31,
.screen-lg .h-max-lg-31 {
    max-height: var(--size-31);
}

.screen-desktop .h-max-desktop-32,
.screen-lg .h-max-lg-32 {
    max-height: var(--size-32);
}
