@import 'tailwindcss' source('../../../Razor');

@import './css/utilities.css';

@import './css/components/btn.css';
@import './css/components/ibtn.css';
@import './css/components/offcanvas.css';

@theme {
    --color-primary: #0d6dfd;
    --color-primary-100: #cfe2ff;
    --color-primary-200: #9ec5fe;
    --color-primary-300: #6ea7fe;
    --color-primary-400: #3d8afd;
    --color-primary-500: #0d6dfd;
    --color-primary-600: #0255d3;
    --color-primary-700: #01409e;
    --color-primary-800: #012b6a;
    --color-primary-900: #001535;
    --color-secondary: #6c757d;
    --color-secondary-100: #e1e3e5;
    --color-secondary-200: #c4c8cc;
    --color-secondary-300: #a6acb2;
    --color-secondary-400: #889198;
    --color-secondary-500: #6c757d;
    --color-secondary-600: #565e64;
    --color-secondary-700: #41464b;
    --color-secondary-800: #2b2f32;
    --color-secondary-900: #161719;
    --color-tertiary: #7c3aed;
    --color-tertiary-100: #e5d8fb;
    --color-tertiary-200: #cbb0f8;
    --color-tertiary-300: #b089f4;
    --color-tertiary-400: #9661f1;
    --color-tertiary-500: #7c3aed;
    --color-tertiary-600: #5c14d8;
    --color-tertiary-700: #450fa2;
    --color-tertiary-800: #2e0a6c;
    --color-tertiary-900: #170536;
    --color-info: #7db8f0;
    --color-info-100: #e5f1fc;
    --color-info-200: #cbe3f9;
    --color-info-300: #b1d4f6;
    --color-info-400: #97c6f3;
    --color-info-500: #7db8f0;
    --color-info-600: #3c94e8;
    --color-info-700: #1770c4;
    --color-info-800: #0f4b83;
    --color-info-900: #082541;
    --color-highlight: #4169E1;
    --color-highlight-100: #d9e1f9;
    --color-highlight-200: #b3c3f3;
    --color-highlight-300: #8da5ed;
    --color-highlight-400: #6787e7;
    --color-highlight-500: #4169e1;
    --color-highlight-600: #204ac8;
    --color-highlight-700: #183796;
    --color-highlight-800: #102564;
    --color-highlight-900: #081232;
    --color-success: #10b981;
    --color-success-100: #c6fae9;
    --color-success-200: #8df5d3;
    --color-success-300: #54f0bd;
    --color-success-400: #1beba6;
    --color-success-500: #10b981;
    --color-success-600: #0d9467;
    --color-success-700: #0a6f4d;
    --color-success-800: #064a34;
    --color-success-900: #03251a;
    --color-warning: #fbbf24;
    --color-warning-100: #fef2d3;
    --color-warning-200: #fde5a7;
    --color-warning-300: #fdd97c;
    --color-warning-400: #fccc50;
    --color-warning-500: #fbbf24;
    --color-warning-600: #e1a404;
    --color-warning-700: #a97b03;
    --color-warning-800: #715202;
    --color-warning-900: #382901;
    --color-alert: #f97316;
    --color-alert-100: #fee3d0;
    --color-alert-200: #fdc7a2;
    --color-alert-300: #fbab73;
    --color-alert-400: #fa8f45;
    --color-alert-500: #f97316;
    --color-alert-600: #d35a05;
    --color-alert-700: #9f4304;
    --color-alert-800: #6a2d03;
    --color-alert-900: #351601;
    --color-danger: #DC3545;
    --color-danger-100: #f8d7da;
    --color-danger-200: #f1aeb5;
    --color-danger-300: #ea868f;
    --color-danger-400: #e35d6a;
    --color-danger-500: #dc3545;
    --color-danger-600: #ba202f;
    --color-danger-700: #8c1823;
    --color-danger-800: #5d1017;
    --color-danger-900: #2f080c;
    --color-light: #F2F1F3;
    --color-light-100: #f2f1f3;
    --color-light-200: #e6e4e8;
    --color-light-300: #dad7dd;
    --color-light-400: #cecad1;
    --color-light-500: #c2bdc6;
    --color-light-600: #b5b0bb;
    --color-light-700: #a9a3b0;
    --color-light-800: #9d96a5;
    --color-light-900: #91899a;
    --color-dark: #38333c;
    --color-dark-100: #a39aa9;
    --color-dark-200: #887e91;
    --color-dark-300: #6e6476;
    --color-dark-400: #534b59;
    --color-dark-500: #38333c;
    --color-dark-600: #312c34;
    --color-dark-700: #29252c;
    --color-dark-800: #221f24;
    --color-dark-900: #1a181c;
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-serif: "Georgia", "Times New Roman", Times, serif;
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    --text-4xs: 0.5rem;
    --text-3xs: 0.5625rem;
    --text-2xs: 0.625rem;
    --text-4xs--line-height: calc(0.75 / 0.5);
    --text-3xs--line-height: calc(0.8125 / 0.5625);
    --text-2xs--line-height: calc(0.875 / 0.625);
    /* evolutivo dinamizado */
    --spacing-0: 0;
    --spacing-1: .0625rem;
    --spacing-2: .125rem;
    --spacing-3: .25rem;
    --spacing-4: .5rem;
    --spacing-5: 0.75rem;
    --spacing-6: 1rem;
    --spacing-7: 1.5rem;
    --spacing-8: 2rem;
    --spacing-9: 3rem;
    --spacing-10: 4rem;
    --spacing-11: 5rem;
    --spacing-12: 6rem;
    --spacing-13: 8rem;
    --spacing-14: 12rem;
    --spacing-15: 16rem;
    --spacing-16: 32rem;
    /* evolutivo padronizado em 4 */
 /*   --spacing-1: .0625rem;
    --spacing-2: .125rem;
    --spacing-3: .1875rem;
    --spacing-4: .25rem;
    --spacing-5: 0.375rem;
    --spacing-6: 0.5rem;
    --spacing-7: 0.625rem;
    --spacing-8: 0.75rem;
    --spacing-9: 1rem;
    --spacing-10: 1.25rem;
    --spacing-11: 1.5rem;
    --spacing-12: 1.75rem;
    --spacing-13: 2rem;
    --spacing-14: 2.5rem;
    --spacing-15: 3rem;
    --spacing-16: 3.5rem;
    --spacing-17: 4rem;
    --spacing-18: 5rem;
    --spacing-19: 6rem;
    --spacing-20: 8rem;*/
    /**/
    --leading-none: 1;
    --leading-xs: 1.125;
    --leading-sm: 1.25;
    --leading-base: 1.5;
    --leading-lg: 1.75;
    --leading-xl: 2;
}